/* Numbersed section as seen on the what we do page. */
.numbered-sections {
  .numbered-section:last-of-type {
    @apply pb-16;
  }
}
.numbered-section {
  @apply px-8 pt-16 overflow-hidden relative;

  counter-increment: list-number;

  &::after,
  &::before {
    @apply hidden;
  }

  &__content {
    @apply relative w-full flex justify-center flex-col;

    img {
      @apply m-auto;
    }
  }

  &__heading {
    @apply max-w-md font-bold text-cool-blue flex pb-5;

    span {
      @apply text-2xl leading-none;
    }
  }

  &__text {
    @apply text-lg font-medium leading-tight max-w-xl pr-8;
  }

  &__link {
    @apply mt-8 font-bold underline mb-10;
    @apply text-sm !important;

    &:hover {
      @apply no-underline;
    }
  }

  &__container {
    @apply block mx-auto;
  }

  p {
    @apply mb-4;

    &:last-of-type {
      @apply mb-0;
    }
  }

  /* Variations. */
  &--no-image {
    &:nth-of-type(even) {
      @apply overflow-hidden;

      .numbered-section__container {
        @apply relative;

        &::before {
          @apply hidden;

          content: '';
        }
      }

      .numbered-section__content {
        @apply ml-auto;

        &:last-child {
          &::before {
            @apply hidden;
          }
        }
      }
    }

    &:nth-of-type(odd) {
      @apply overflow-hidden;

      .numbered-section__container {
        @apply relative;

        &::after {
          @apply hidden;

          content: '';
        }
      }

      .numbered-section__content {
        &:last-child {
          &::after {
            @apply hidden;
          }
        }
      }
    }
  }

  &--no-numbers {
    .numbered-section__heading {
      &::before,
      &::after {
        @apply mr-0;

        content: '';
      }
    }
  }

  .scrollable {
    .lozad-image {
      &.loaded {
        @apply delay-0;
        @apply ease-linear;
      }
    }
  }
}

/* @screen sm {
  .numbered-section {
    &--no-image {
      &:nth-of-type(even) {
        .numbered-section__container {
          &::before {
            @apply block absolute math-paper top-0 right-0 mr-2/3 w-full h-full;
          }
        }
      }

      &:nth-of-type(odd) {
        .numbered-section__container {
          &::after {
            @apply block absolute math-paper top-0 ml-2/3 w-full h-full;
          }
        }
      }
    }
  }
} */

@screen md {
  .numbered-section {
    @apply py-20;

    &:nth-of-type(odd) {
      &::after {
        @apply block absolute math-paper top-0 ml-2/3 w-full h-full z-10;

        content: '';
      }
    }

    &:nth-of-type(even) {
      .numbered-section__content {
        &:first-child {
          @apply pl-8;
        }

        &:last-child {
          @apply order-first;
        }
      }

      &::before {
        @apply block absolute math-paper top-0 right-0 mr-2/3 w-full h-full z-10;

        content: '';
      }
    }

    &__content {
      @apply w-1/2;
    }

    &__container {
      @apply flex;
    }

    &__heading {
      @apply pr-8 max-w-lg;
    }

    &__link {
      @apply mb-20;
      @apply text-lg !important;
    }
  }
}

@screen lg {
  .numbered-section {
    &__heading {
      &::before {
        @apply text-8xl;
      }

      span {
        @apply text-4/2xl;
      }
    }

    &__text {
      @apply text-xl;
    }

    &__call-to-action {
      @apply mb-0;
    }

    &:nth-of-type(even) {
      .numbered-section__content {
        &:first-child {
          @apply pl-16;
        }
      }
    }
  }
}
