{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["extends", "tailwind", "screen", "apply", "variants", "responsive"]
      }
    ],
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["object-fit: cover;"]
      }
    ],
    "indentation": 2,
    "no-descending-specificity": null
  }
}
