/* Body content container styles. */
.body-content {
  @apply text-lg;

  p {
    @apply mb-6;
  }

  a {
    @apply transition-all ease-out-quart;
  }

  img {
    @apply block my-6 mx-auto opacity-0;
    @apply transition-all ease-out-quart delay-100;

    line-height: 0;
    font-size: 0;

    &.loaded {
      @apply opacity-100;
    }
  }

  figure {
    @apply my-6 flex justify-center flex-col relative;

    &::after {
      @apply absolute block top-0 left-0 w-full h-full bg-black opacity-025 z-0;

      background-blend-mode: multiply;
      content: '';
    }

    * {
      @apply z-10;
    }

    img {
      @apply my-0;
    }

    figcaption {
      @apply text-sm italic block pt-2 bg-light-peach;
    }
  }

  > p {
    &:first-of-type {
      @apply font-medium text-2xl leading-tight mb-6;

      + section {
        @apply mt-12;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium leading-tight mb-4 mt-8;

    &.body-content__title {
      @apply mt-0 text-4xl;
    }
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base font-bold;
  }

  a,
  p > a,
  li > a {
    @apply underline;

    &:hover {
      @apply no-underline;
    }
  }

  ul {
    @apply list-disc my-2 mx-4;
  }

  > hr {
    &:last-of-type {
      @apply bg-slate-grey h-1 max-w-lg mt-20 mb-4;

      + p {
        @apply text-xl font-bold;
      }

      ~ * {
        @apply max-w-lg;
      }
    }
  }

  /* Variations. */
  &--article,
  &--news-article {
    .body-content__body {
      > p {
        @apply text-lg;

        &:first-of-type {
          @apply font-medium text-2xl leading-tight mb-6;
        }
      }
    }
  }

  &--no-introduction {
    .body-content__body {
      > p {
        @apply text-lg;

        &:first-of-type {
          @apply font-normal text-lg;
        }

        &:last-of-type {
          @apply mb-0;
        }
      }
    }
  }

  &--full-width {
    > hr {
      &:last-of-type {
        @apply bg-slate-grey h-1 max-w-lg mt-20 mb-4;

        + p {
          @apply font-normal;
        }

        ~ * {
          @apply max-w-full;
        }
      }
    }
  }

  &--bottomless {
    @apply mb-0;
  }
}

@screen md {
  .body-content {
    > p {
      &:first-of-type {
        @apply text-3xl;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      &.body-content__title {
        @apply text-5xl;
      }
    }

    &--article,
    &--news-article {
      .body-content__body {
        > p {
          &:first-of-type {
            @apply text-3xl;
          }
        }
      }
    }
  }
}

@screen lg {
  .body-content {
    > p {
      &:first-of-type {
        @apply font-medium text-3/2xl mb-6;

        line-height: 1.2em;
      }
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5 {
      @apply text-lg;
    }

    h6 {
      @apply text-base font-bold;
    }

    figure {
      @apply -mx-6;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      &.body-content__title {
        @apply text-5xl;
      }
    }

    &--article,
    &--news-article {
      .body-content__body {
        > p {
          &:first-of-type {
            @apply font-medium text-3/2xl mb-6;

            line-height: 1.2em;
          }
        }
      }
    }
  }
}

@screen xl {
  .body-content {
    figure {
      @apply -mx-12;
    }

    &--no-sidebar {
      @apply ml-64;
    }
  }
}
