.call-to-action {
  @apply w-full bg-light-peach py-16 px-6 math-paper;

  &__container {
    @apply mx-auto text-center;
  }

  &__button {
    @apply font-normal rounded;
    @apply px-6 pt-2 pb-3;

    &--cool-blue {
      @apply button--cool-blue;

      &:hover {
        @apply button--slate-grey;
      }
    }

    &--white {
      @apply button--white;

      &:hover {
        @apply button--slate-grey;
      }
    }

    &--slate-grey {
      @apply button--slate-grey;

      &:hover {
        @apply button--cool-blue;
      }
    }
  }

  &--no-math-paper {
    background-image: none;
  }

  &--single-column {
    .call-to-action {
      &__text {
        @apply mb-10;
      }
    }
  }

  &--dual-column {
    .call-to-action {
      &__container {
        @apply flex flex-col;
      }

      &__text {
        @apply text-center mb-8 mx-auto max-w-xl;
      }

      &__button-container {
        @apply flex justify-center flex-grow flex-shrink-0 my-auto w-full;
      }
    }
  }

  &--cool-blue {
    @apply bg-cool-blue text-white;

    background-image: none;

    .call-to-action__button {
      @apply button--white;

      &:hover {
        @apply button--slate-grey;
      }
    }
  }
}

.call-to-action-block {
  @apply flex flex-col my-8;

  span {
    @apply block font-semibold;
  }

  a {
    @apply mr-auto;
  }
}

@screen lg {
  .call-to-action {
    @apply py-32;

    &--single-column {
      .call-to-action__text {
        @apply mb-16;
      }
    }

    &--dual-column {
      .call-to-action {
        &__container {
          @apply flex-row;
        }

        &__text {
          @apply max-w-3xl text-left mr-16 mb-0;
        }

        &__button-container {
          @apply w-auto justify-end;
        }
      }
    }
  }
}
