/* Filtering as seen on publications etc. */
.filtering {
  &__tools {
    @apply my-8 mx-auto flex-grow flex flex-col;
    @apply py-6;

    &__header {
      @apply flex flex-col;

      .filtering__buttons {
        @apply w-full max-w-11rem ml-0 mt-4;

        button {
           @apply w-full;
        }
      }
    }

    &__links {
      @apply flex flex-col overflow-auto;
      @apply transition-max-height ease-out-quart duration-500;

      max-height: 0;
    }
  }

  &.open {
    .filtering__tools__links {
      max-height: 100vh;
    }
  }

  &__title {
    @apply text-cool-blue text-2xl flex-grow mb-4;
  }

  &__inputs {
    @apply w-full;
  }

  &__search {
    @apply bg-white my-auto py-1 pl-3 pr-3 flex justify-between flex-grow-0;

    &__input {
      @apply text-lg pr-3 flex-grow leading-none outline-none;

      max-width: 10rem;
    }

    &__button {
      @apply text-cool-blue text-2xl outline-none;
    }
  }

  &__tags {
    @apply mt-4;

    &:last-of-type {
      @apply mb-8;
    }

    &__title {
      @apply mb-3 inline-block font-medium;
    }
  }

  &__count {
    @apply w-full text-lg mt-2 font-medium text-greyish-brown;
  }

  &__buttons {
    @apply flex-grow-0 flex-shrink-0 ml-auto flex justify-between flex-col;

    button {
      @apply button button--outline border-cool-blue rounded pt-2 pb-2 px-5;
      @apply flex items-center justify-between;
      @apply transition-all ease-out-quart;
      @apply outline-none text-cool-blue text-base;
      @apply leading-tight;

      @apply hover:text-white hover:bg-slate-grey hover:border-slate-grey;
    }

    &__icon {
    }
  }

  &__button {
    &__label {
      &:before {
        content: attr(data-show);
      }
    }

    &.opened {
      .filtering__button__label {
        &:before {
          content: attr(data-hide);
        }
      }
    }
  }

  /* Variations. */
  &__tools--inline {
    @apply flex flex-col max-w-full;

    .filtering__tags {
      @apply mb-0;
    }
  }
}

@screen md {
  .filtering {
    &__tools {
      &__header {
        @apply flex-row;

        .filtering__buttons {
          @apply mt-0 ml-4;
        }
      }

      &__links {
        @apply flex-row overflow-hidden;
      }
    }

    &__search {
      &__input {
        @apply text-xl max-w-full;
      }
    }

    &__count {
      @apply text-xl;
    }

    &__tools--inline {
      @apply px-8;
    }
  }
}

@screen lg {
  .filtering {
    &__inputs {
      @apply max-w-1/2;
    }

    &__tools {
      &__header {
        @apply flex-row justify-between;
      }

    }

    &__title {
      @apply text-4xl mb-0;
    }

    &__tags {
      @apply my-8;
    }

    &__tools--inline {
      @apply flex-row pl-48 pr-24;

      .filtering__tools {
        &__header {
          @apply w-1/2;
        }

        &__links {
          @apply ml-8 mr-0;
        }
      }

      .filtering__search {
        @apply max-w-full mr-0;
      }

      .filtering__tags {
        @apply mt-0;

        &__title {
          @apply mt-2;
        }
      }
    }

    &__buttons {
      button {
        @apply rounded;
      }
    }
  }
}

@screen xl {
  .filtering {
    &__tools {
      /* @apply px-12; */
    }

    &__search {
      @apply mr-8;
    }

    &__buttons {
      /* @apply mr-8; */
    }
  }
}
