.page-header {
  @apply w-full bg-cover flex overflow-hidden relative;

  /* Elements. */
  &__title {
    @apply text-4xl font-bold leading-none max-w-full;
  }

  &__container {
    @apply w-full mx-auto;
  }

  &__content {
    @apply text-xl pt-6 mb-16 leading-tight font-medium max-w-full;
  }

  &__outer {
    @apply py-16 px-8 relative z-10 mt-auto;
    @apply transition-color duration-500;
    @apply w-full mx-auto;
    max-width: theme('screens.2xl');
  }

  /* Modifiers. */
  &--news {
    @apply py-12 !important;

    .page-header__inner {
      @apply max-w-full;
    }

    .page-header__outer {
      @apply px-0;
    }

    .page-header__title {
      @apply pr-12;
    }
  }

  &--image {
    .page-header__inner {
      @apply flex flex-col w-full;
    }

    .page-header__image {
      @apply w-full mt-4 ml-0 flex-shrink-0;

      max-width: 240px;
    }

    img {
      max-height: 30rem;
    }
  }

  &--white {
    @apply text-white;
  }

  &--article {
    @apply relative bg-top;

    &__date {
      @apply mt-4 block;
    }

    .container {
      @apply relative z-20;
    }

    .page-header__title {
      + .link-icon {
        @apply mt-10;
      }
    }
  }

  &--image-bg {
    @apply bg-light-peach;
  }

  &--no-overlay {
    &::before {
      @apply hidden;
    }
  }

  &--reversed {
    .page-header__content {
      @apply mb-0;
    }
  }

  &--home {
    @apply max-w-full;

    width: 1600px;

    video {
      height: calc(100% - 48px);
    }
  }

  &--teaser {
    @apply math-paper--right min-h-0;

    .page-header {
      &__outer {
        @apply mb-auto mt-0 py-28;
      }
    }
  }

  /* Additional Elements. */
  .lozad-image {
    @apply absolute h-full w-full bg-cover top-0 left-0;
  }

  a {
    @apply underline;

    &:hover {
      @apply no-underline;
    }
  }
}

@screen sm {
  .page-header {
    &__content {
      @apply pr-6;
    }
  }
}

@screen md {
  .page-header {
    &__title {
      @apply text-6xl max-w-1/2;
    }

    &__content {
      @apply text-2/3xl pt-12 leading-tighter max-w-2/3;
    }

    &--article {
      .page-header__title {
        + .link-icon {
          @apply mt-20;
        }
      }
    }

    &--image {
      .page-header {
        &__title,
        &__conent {
          @apply max-w-full;
        }
      }
    }

    &--teaser {
      .page-header {
        &__content,
        &__title {
          @apply max-w-full;
        }

        &__content {
          @apply mb-0;
        }
      }
    }
  }
}

@screen lg {
  .page-header {
    @apply min-h-44;

    &__outer {
      @apply px-32;
    }

    &__title {
      @apply text-8xl;
    }

    &__title,
    &__content {
      @apply max-w-full;
    }

    &--article {
      .page-header__title {
        @apply text-7xl;
      }
    }

    &--news {
      .page-header__title {
        @apply mb-0;
      }
    }

    &--small {
      @apply min-h-0;
    }

    &--image {
      .page-header__inner {
        @apply flex-row;
      }

      .page-header__inner-title {
        max-width: 600px;
      }

      .page-header__image {
        @apply mt-0;

        width: 240px;
      }

      img {
        @apply absolute -mt-16 -mb-32 z-10;

        height: calc(100% + 12rem);
      }
    }

    &--image-bg,
    &--home,
    &.jarallax {
      @apply min-h-44;
    }

    &--home {
      video {
        height: calc(100% - 96px);
      }
    }

    &--teaser {
    }
  }
}

@screen xl {
  .page-header {
    &__title,
    &__content {
      @apply max-w-2/3;
    }

    &--news {
      .page-header__inner {
        @apply max-w-64rem;
      }
    }

    &--image {
      .page-header__image {
        @apply ml-auto;
      }

      .page-header__inner-title {
        @apply max-w-full;
      }

      img {
        max-height: 960px;
      }
    }

    &--teaser {
    }
  }
}

@screen 2xl {
  .page-header {
    &__outer {
      @apply px-8;
    }

    &__title,
    &__content {
      @apply max-w-1/2;
    }
  }
}
