.math-paper {
  background-image:
    linear-gradient(
      rgba(67, 161, 201, 0.9) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(67, 161, 201, 0.9) 1px, transparent 1px),
    linear-gradient(rgba(67, 161, 201, 0.4) 1px, transparent 1px),
    linear-gradient(90deg, rgba(67, 161, 201, 0.4) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position:
    calc(50% - 25px) calc(50% - 25px),
    calc(50% - 25px) calc(50% - 25px),
    calc(50% - 50px) calc(50% - 50px),
    calc(50% - 50px) calc(50% - 50px);
  background-attachment: fixed, fixed, fixed, fixed;
}

.math-paper--origin {
  background-position:
    calc(50% - 25px) calc(50% - 25px),
    calc(50% - 25px) calc(50% - 25px),
    calc(50% - 50px) calc(50% - 50px),
    calc(50% - 50px) calc(50% - 50px);
}

.math-paper--reverse {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}

/* For use with lozad. */
.background-image,
.lozad-image {
  @apply opacity-0;
  @apply transition-opacity delay-500 duration-250 ease-out-quart;

  &.loaded {
    @apply opacity-100 transition-all delay-0;
  }
}
