.math-paper {
    background-image: linear-gradient(rgba(67, 161, 201, 0.9) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(67, 161, 201, 0.9) 1px, transparent 1px),
                      linear-gradient(rgba(67, 161, 201, 0.4) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(67, 161, 201, 0.4) 1px, transparent 1px);
    background-size: 54px 54px, 54px 54px, 54px 54px, 54px 54px;
    background-position: -19px -19px, -19px -19px, -46px -46px, -46px -46px;
    background-attachment: fixed;
}

.math-paper--reverse {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
                      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
}