.jarallax {
    @apply relative z-0;

    .jarallax-img {
        @apply absolute top-0 left-0 w-full h-full;
        object-fit: cover;
        font-family: 'object-fit: cover;';
        z-index: -1;
        margin-top: 96px;
    }
}
