<!-- <h2 class="citation-year citation-year--$year$">$year$</h2> -->

<li>
    <div class="publication-tile grid-cell year-$year$ tag $if(tags)$ $for(tags)$ tag-$tag$ $endfor$ $endif$">
        <header class="publication-tile__header">
          $if(tags)$
          <ul class="tag-list tag-list--publication-tile publication-tile__tag-list">
              $for(tags)$
              <li class="tag-list__tag tag-list__tag--$tag$">$tag$</li>
              $endfor$
          </ul>
          $endif$
        </header>
      
          $if(title)$
            <a class="publication-tile__title block" href="/publications/$id$.html">
              <h3>$title$</h3>
            </a>
          $endif$
      
          <div class="publication-tile__citation">
            $citation$
          </div>
      
          <div class="tagslugs hidden">    
              $if(tags)$ $for(tags)$ $tag$ $endfor$ $endif$    
          </div>
      
          <footer class="flex justify-between items-center publication-tile__footer">
            $if(pdf)$
              <a href="//files.dragonfly.co.nz/publications/pdf/$pdf$" class="publication-tile__pdf text-light-grey hover:text-slate-grey">
                <span class="dragonfly-pdf text-5xl"></span>
              </a>
            $endif$
            $if(hasBody)$
              <a href="/publications/$id$.html" class="publication-tile__read-more">Read more</a>
            $endif$
        </footer>
      </div>
</li>


