<!-- Use schema.org microformat markup -->
<a class="anchor" id="contact"></a>
<footer class="footer full-screen" itemscope itemtype="http://schema.org/Organization">
  <div class="container footer-outer" id="footer-address">
    <div class="footer-content" id="footer-row-logo">
      <div id="footer-logo"> <img itemprop="logo" src="/images/dragonfly-logo-reversed-rgb.png" /> </div>
      <div id="footer-totop">
        <a href="#top">Top &#9650;</a>
      </div>
    </div>
    <div class="footer-content" id="footer-row-contact">
      <p class="heading">Get in touch</p>
    </div>
    <div class="footer-content">
      <div class="cell" id="footer-phone">
        $partial("templates/_address-phones.html")$
      </div>
      <div class="cell showlink-mobile" id="footer-physical">
        $partial("templates/_address-physical.html")$
      </div>
      <div class="cell" id="footer-postal"> 
        $partial("templates/_address-postal.html")$
      </div>
    </div>
    <div class="footer-content" id="footer-social">
      <div class="cell social">
        <div>
          <p><a href="https://www.twitter.com/dflysci"><img src="/images/twitter-white.png" /></a> Follow us on Twitter</p>
        </div>
      </div>
    </div>
    <div class="footer-content" id="footer-license">
      <div>
        <p><a href="https://creativecommons.org/licenses/by/4.0/"><img src="/images/cc.png" /><img src="/images/by.png" /></a><span class="license-text">The code and text content of this website is licensed under CC-BY 4.0</span>
        <p><a href="https://github.com/dragonfly-science/website"><img src="/images/github-logo.png" /></a><span class="license-text">See the source code on GitHub</span></p>
      </div>
    </div>
  </div>
</footer>
