<header
  class="page-header page-header--home mx-auto bg-white math-paper relative overflow-hidden select-none -mt-12 lg:-mt-24"
>
  <div class="page-header__outer pt-12 lg:pt-24">
    <div class="page-header__container container">
      <h1 class="page-header__title">Kia Ora</h1>

      <p class="page-header__content">
        We are an international team of data scientists and programmers who aim
        to put data to good use and make a positive impact. We’re based in
        Wellington, New Zealand.
      </p>

      <a
        href="#top-section"
        tabindex="-1"
        class="link-icon link-icon--arrow-down link-icon--large"
      >
        <span class="icon dragonfly-arrow"></span>
      </a>
    </div>
  </div>

  <div class="animation-controls mt-12 lg:mt-24">
    <div class="animation-controls__header flex flex-row">
      <button class="bg-slate-grey">
        <i class="dragonfly-hamburger"></i>
        <i class="dragonfly-close"></i>
      </button>
      <span>Game of Life</span>
    </div>
    <div class="animation-controls__control">
      <input
        type="text"
        autocomplete="off"
        pattern="[^0-9]+?(fps)"
        class="animation-controls__input"
        value="2fps"
        spellcheck="false"
      />
      <div class="animation-controls__control__buttons">
        <button class="up transform -rotate-45"></button>
        <button class="down transform rotate-135"></button>
      </div>
    </div>
  </div>

  <div id="saveControls" class="absolute right-0 bottom-0 flex mr-8 mb-8 z-10">
    <div
      class="bg-black mr-4 w-16 h-16 rounded-full text-white flex justify-center items-center cursor-pointer"
      id="saveButton"
    >
      <i class="far fa-save"></i>
    </div>

    <div
      class="bg-black w-16 h-16 rounded-full text-white flex justify-center items-center cursor-pointer"
      id="pauseButton"
    >
      <i class="fas fa-pause"></i>
    </div>
  </div>

  <canvas id="gameoflife" class="game-of-life"></canvas>

  <div class="math-paper absolute top-0 left-0 w-full h-full z-1"></div>

  <video
    class="absolute top-0 left-0 z-0 object-cover w-full mt-12 lg:mt-24"
    autoplay
    loop
    muted
  >
    <source src="/images/Albatross5.mp4" type="video/mp4" />
  </video>

  <div
    id="blob"
    class="game-of-life-blob absolute top-0 left-0 z-0 min-w-full h-full"
  ></div>
</header>
