<header class="page-header relative overflow-hidden select-none flex">
  <div class="page-header__outer">
    <div class="page-header__container text-white">
      <h1 class="page-header__title">$title$</h1>

      <p class="page-header__content">$introduction$</p>

      <a
        href="#top-section"
        tabindex="-1"
        class="link-icon link-icon--arrow-down link-icon--large"
      >
        <span class="icon dragonfly-arrow"></span>
      </a>
    </div>
  </div>

  <canvas id="gameoflife" class="game-of-life"></canvas>

  <div class="math-paper--screen absolute top-0 left-0 w-full h-full z-1"></div>

  <video
    class="absolute top-0 left-0 z-0 object-cover w-full h-full"
    autoplay
    loop
    muted
  >
    <source src="/images/HomeMix.mp4" type="video/mp4" />
  </video>

  <div
    id="blob"
    class="game-of-life-blob absolute top-0 left-0 z-0 min-w-full h-full"
  ></div>
</header>
