<header class="fixed bg-white w-full px-6">
  <div class="container flex-col h-12 lg:flex-row mx-auto flex justify-center lg:h-24" data-section="$section$" id="js-responsive-navigation-menu">
    <!-- <a href="" class="responsive-navigation-menu-button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a> -->
    <div class="logo items-center flex">
        <a href="/" class="my-3 lg:my-auto mr-2">
          <img src="/images/dragonfly-logo-rgb.svg" class="max-w-full h-6 lg:max-w-12rem w-auto lg:w-full lg:h-24 lg:h-auto" />
        </a>
        <span class="mobile-menu my-3 ml-auto lg:hidden">menu</span>
    </div>

    <nav class="main-nav lg:opacity-100 lg:h-auto lg:max-h-auto lg:flex-row lg:mt-0 lg:left-auto lg:py-0 lg:w-auto lg:top-auto lg:relative lg:justify-start lg:items-center">
      <ul class="flex flex-col lg:flex-row h-full lg:mx-auto w-full lg:w-auto items-center">
        <li class="main-nav__link w-full text-center lg:text-left lg:w-auto" data-section="work">
            <a href="/work/" class="slate-grey xl:text-lg font-normal lg:mr-24 leading-none">What we do</a>
        </li>
        <li class="main-nav__link w-full text-center lg:text-left lg:w-auto" data-section="people">
            <a href="/people/" class="slate-grey xl:text-lg font-normal lg:mr-24 leading-none">Who we are</a>
        </li>
        <li class="main-nav__link w-full text-center lg:text-left lg:w-auto" data-section="news">
            <a href="/news/" class="slate-grey xl:text-lg font-normal lg:mr-24 leading-none">News</a>
        </li>
        <li class="main-nav__link w-full text-center lg:text-left lg:w-auto" data-section="data">
            <a href="/data/" class="slate-grey xl:text-lg font-normal lg:mr-24 leading-none">Data</a>
        </li>
        <li class="main-nav__link w-full text-center lg:text-left lg:w-auto" data-section="publications">
            <a href="/publications/" class="slate-grey xl:text-lg font-normal leading-none">Publications</a>
        </li>
        <!-- <li class="nav-link" data-section="contact">
            <a href="#contact" class="slate-grey text-1xl font-normal">Get in touch</a>
        </li> -->
        <li class="contact-text w-full text-center lg:text-left lg:w-auto lg:hidden leading-none">
          <a href="tel:+6421426878">+64 (0)21 426 878</a><br>
          <a href="mailto:hello@dragonfly.co.nz">hello@dragonfly.co.nz</a><br>
          <a href="https://www.google.com/maps/place/158+Victoria+St,+Te+Aro,+Wellington+6011,+New+Zealand/@-41.2917782,174.7744558,17z">
          <span>Level 4, 158 Victoria St,</span><br>
          <span>Wellington,</span><br>
          <span>New Zealand</span></a>
        </li>
      </ul>

      <a href="#contact" class="slate-grey text-sm font-normal hidden lg:block leading-none">Get in touch</a>
    </nav>
  </div>
</header>
