<header class="main-header fixed top-0 bg-white w-full px-6 z-50">
  <div class="container flex-col h-12 lg:flex-row mx-auto flex justify-center lg:h-24" id="js-responsive-navigation-menu">
    <div class="logo items-center flex">
        <a href="/" class="my-3 lg:my-auto mr-2" aria-label="back to home page">
          <img src="/images/dragonfly-logo-rgb.svg" class="max-w-full h-6 lg:max-w-12rem w-auto lg:w-full lg:h-24 lg:h-auto" alt="Dragonfly logo" />
        </a>
        <span class="mobile-menu dragonfly-hamburger text-2xl cursor-pointer text-cool-blue my-3 ml-auto lg:hidden"></span>
    </div>

    <nav class="main-nav lg:closed" data-section="$section$">
      <ul class="main-nav__container">
        <li class="main-nav__link section--what-we-do" data-section="what-we-do">
            <a href="/what-we-do.html">What we do</a>
        </li>
        <li class="main-nav__link section--people" data-section="people">
            <a href="/people/">Who we are</a>
        </li>
        <li class="main-nav__link section--work section--data section--publications" data-section="work">
            <span class="main-nav__label">Our work</span>
            <ul>
                <li>
                    <a href="/work/">Case Studies</a>
                </li>
                <li>
                    <a href="/data/">Data</a>
                </li>
                <li>
                    <a href="/publications/">Publications</a>
                </li>
            </ul>
        </li>
        <li class="main-nav__link section--news mr-0" data-section="news">
            <a href="/news/">Latest news</a>
        </li>
        <li class="main-nav__link lg:hidden">
          <span class="font-medium text-lg block pb-1">Get in touch</span>
          <a href="tel:+6421426878">+64 (0)21 426 878</a><br/>
          <a href="mailto:hello@dragonfly.co.nz">hello@dragonfly.co.nz</a><br/>
          <a href="https://www.google.com/maps/place/158+Victoria+St,+Te+Aro,+Wellington+6011,+New+Zealand/@-41.2917782,174.7744558,17z">
            <span>Level 4, 158 Victoria St,</span><br/>
            <span>Wellington,</span><br/>
            <span>New Zealand</span>
          </a>
        </li>
      </ul>

      <a href="#contact" class="main-nav__button">Get in touch</a>
    </nav>
  </div>
</header>
