<header class="page-header page-header--teaser bg-slate-grey">
  <div class="page-header__outer flex flex-col md:flex-row">
    <div class="text-white flex-grow mr-16 mt-auto">
      $if(title)$
      <h1 class="page-header__title">$title$</h1>
      $endif$ $if(subtitle)$
      <p class="page-header__content">$subtitle$</p>
      $endif$
      <a
        href="#top-section"
        tabindex="-1"
        class="link-icon link-icon--arrow-down link-icon--large"
      >
        <span class="icon dragonfly-arrow"></span>
      </a>
    </div>
    <div
      class="
        hidden
        flex-grow flex-shrink-0
        h-full
        w-full
        my-auto
        md:max-w-5/2
        lg:max-w-1/2
        lg:flex
        xl:mb-0
      "
    >
      $if(bannerSVG)$
      <img src="$bannerSVG$" class="mx-auto max-w-30rem" />
      $else$ $if(teaserImageMedium)$
      <img src="$teaserImageMedium$" class="mx-auto max-w-30rem" />
      $endif$ $endif$
    </div>
  </div>
</header>
