<div class="what-we-do-section__project">
    <div class="what-we-do-section__project__link">
        <div class="no-gutter-cell no-gutter-cell--sidebar no-gutter-cell--no-hover">
            $if(teaserImage)$
            <div 
                class="no-gutter-cell__image no-gutter-cell__image--large background-image lozad" 
                data-background-image="$teaserImage$">
            </div>
            $endif$
        </div>
    </div>
    <div class="what-we-do-section__project__details">
        $if(title)$
        <span class="what-we-do-section__title ruled-heading">$title$</span>
        $endif$
        $if(summary)$
        <span class="what-we-do-section__subtitle">$summary$</span>
        $endif$
        $if(teaser)$
        <p class="what-we-do-section__description">$teaser$</p>
        $endif$

        $if(pageurl)$
            <div class="call-to-action-block">
                <span>$CTADescriptor$</span>
                <a
                    href="$pageurl$"
                    class="call-to-action__button button call-to-action__button--cool-blue"
                >$CTAButton$</a>
            </div>
        $endif$
    </div>
</div>
