<address>
  <p>Physical address:</p>
  <div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Level 5, 158 Victoria St</span><br />
    Stephenson &amp; Turner House<br />
    <span itemprop="addressLocality">Te Aro, Wellington</span> 6011<br />
    <span itemprop="addressCountry">New Zealand</span><br />
    <a class="read-more" href="https://www.google.com/maps/place/158+Victoria+St,+Te+Aro,+Wellington+6011,+New+Zealand/@-41.2917782,174.7744558,17z">View in Google Maps</a>
  </div>
</address>
