<div class="container bubble-navigation" data-section="$section$">
  <ul>
    $for(bubbles_prev)$
    <li><a href="$pageurl$"><div class="bubble" style="background-image: url($teaserImage$)"><p>$title$</p></div></a></li>    
    $endfor$
    $for(bubbles_this)$
    <li><a href="$pageurl$"><div class="bubble" style="background-image: url($teaserImage$)"><p>$title$</p></div></a></li>    
    $endfor$
    $for(bubbles_next)$
    <li><a href="$pageurl$"><div class="bubble" style="background-image: url($teaserImage$)"><p>$title$</p></div></a></li>    
    $endfor$
  </ul>
</div>
