$partial("templates/_page-header-small.html")$

<section id="top-section" class="bg-light-peach">
  <div class="article-container">
    <article class="article mt-0">
      <div class="body-content body-content--article body-content--has-quote">
        $body$
      </div>
    </article>
  </div>
</section>

$if(careers)$

<section class="bg-light-peach">
  $if(quotetitle)$
  <div class="article-container pt-0">
    <header class="article mt-0">
      <h2 class="text-2xl font-medium lg:text-3xl">$quotetitle$</h2>
    </header>
  </div>
  $endif$ $for(careers)$
  <div class="article-container pt-0">
    <article class="article mt-0">
      <div class="body-content body-content--article body-content--has-quote">
        $body$
      </div>
    </article>
  </div>
  $endfor$
</section>
$endif$
