<header class="page-header bg-light-peach math-paper">
  <div class="page-header__outer">
    <div class="page-header__container">
      <h1 class="page-header__title">Encouraging the release of data.</h1>

      <p class="page-header__content">
        Giving access to data helps make information widely available, building consensus. Where appropriate, we encourage the
        release of open data.
      </p>

      <a href="#top-section" class="link-icon link-icon--large link-icon--arrow-down">
        <span class="icon dragonfly-arrow"></span>
      </a>
    </div>
  </div>
</header>

<a id="top-section"></a>
$for(data)$
<section class="numbered-section numbered-section--no-numbers bg-light-peach">
  <div class="numbered-section__container container">
    <div class="numbered-section__content">
      <h2 class="numbered-section__heading"><span>$title$</span></h2>
      <div class="numbered-section__text">
        $if(teaser)$ $teaser$ $endif$
      </div>

      $if(link)$
      <a href="$link$" class="link-icon link-icon--arrow-out numbered-section__link" target="_blank"><span class="text">Explore the data</span> <span
          class="icon dragonfly-arrow"></span></a>
      $endif$
    </div>
    <div class="numbered-section__content scrollable">
      <img src="$teaserImage$" class="lozad lozad-image" alt="">
    </div>
  </div>
</section>
$endfor$

<section class="call-to-action call-to-action--dual-column call-to-action--cool-blue">
  <div class="call-to-action__container container">
    <p class="call-to-action__text">
      Do you have some data you'd like us to explore?
    </p>
    <div class="call-to-action__button-container">
      <a href="#contact" class="call-to-action__button button">Get in touch</a>
    </div>
  </div>
</section>