<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="top">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="//use.typekit.net/tjp2nro.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


        <title>Dragonfly Data Science - $title$</title>
        <link rel="stylesheet" type="text/css" href="/assets/dragonfly.css" />
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDbYlF8rWK-NOtLVWpvMj2ZuB9ewXswvs">
        </script>
        <script type="text/javascript">
          function initialize() {
            var styles = [
              {"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},
              {"featureType":"poi","stylers":[{"saturation":-50},{"lightness":51},{"visibility":"off"}]},
              {"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},
              {"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},
              {"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},
              {"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"off"}]},
              {"featureType":"administrative.province","stylers":[{"visibility":"off"}]},
              {"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},
              {"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}
            ];
            var styledMap = new google.maps.StyledMapType(styles, {name: "Calm Map"});
            var dragonflyLatLong = new google.maps.LatLng(-41.291816, 174.774518);
            var mapOptions = {
              center: dragonflyLatLong,
              zoom: 16,
              mapTypeControlOptions: {mapTypeIds: []}
            };
            var map = new google.maps.Map(document.getElementById('footer-map'),
                mapOptions
            );
            map.mapTypes.set('calm_map', styledMap);
            map.setMapTypeId('calm_map');
            var image = '/images/pin.png';
            var marker = new google.maps.Marker({
              position: dragonflyLatLong,
              map: map,
              title:"Dragonfly Data Science",
              icon: image
            });
          }
          google.maps.event.addDomListener(window, 'load', initialize);
        </script>
    </head>
     <body>
        $partial("templates/menu.html")$

        <main class="section-$section$">
            $body$
        </main>

        $partial("templates/footer.html")$

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/dragonfly.js"></script>
    </body>
</html>
