<!-- Use schema.org microformat markup -->
<a class="anchor" id="contact"></a>
<footer class="footer full-screen" itemscope itemtype="http://schema.org/Organization">
  <div class="container footer-outer" id="footer-address">
    <div class="footer-content" id="footer-row-logo">
      <div id="footer-logo"> <img itemprop="logo" src="/images/dragonfly-logo-reversed-rgb.png" /> </div>
      <div id="footer-totop">
        <a href="#top">Top &#9650;</a>
      </div>
    </div>
    <div class="footer-content" id="footer-row-contact">
      <p class="heading">Get in touch</p>
    </div>
    <div class="footer-content">
      <div class="cell" id="footer-phone">
        $partial("templates/address-phones.html")$
      </div>
      <div class="cell showlink-mobile" id="footer-physical">
        $partial("templates/address-physical.html")$
      </div>
      <div class="cell" id="footer-postal"> 
        $partial("templates/address-postal.html")$
      </div>
    </div>
  </div>
  <div class="container footer-outer" id="footer-outer-map">
    <div class="footer-content">
      <div class="cell map" id="footer-map">
      </div>
    </div>
  </div>
  <div class="container footer-outer" id="footer-outer-social">
    <div class="footer-content">
      <div class="cell social" id="footer-social">
        <p>Follow us on Twitter</p>
        <div>
          <p>
          <a href="https://www.twitter.com/dflysci"><img src="/images/twitter-white.png" /></a>
          <!--<a href="https://medium.com/dragonfly-data-science"><img src="/images/medium-white.png" /></a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

