<!-- Use schema.org microformat markup -->
<footer class="footer" id="footer-contact" itemscope itemtype="http://schema.org/Organization">
  <div class="container footer-outer" id="footer-address">
    <div class="footer-content" id="footer-row-logo">
      <div id="footer-logo"> <img itemprop="logo" src="/images/dragonfly-logo-reversed-rgb.png" /> </div>
      <div id="footer-totop">
        <a href="#top">Top &#9650;</a>
      </div>
    </div>
    <div class="footer-content" id="footer-row-contact">
      <p class="heading">Contact</p>
    </div>
    <div class="footer-content">
      <div class="cell" id="footer-phone">
        <address>
          Phone: <span itemprop="telephone">+64 (0)4 385 9285</span><br>
          Email: <span itemprop="email">inbox@dragonfly.co.nz</span>
        </address>
      </div>
      <div class="cell">
        <address class="showlink-mobile" id="footer-physical">
          Physical address:<br>
          <div itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
            <a href=https://www.google.com/maps/place/158+Victoria+St,+Te+Aro,+Wellington+6011,+New+Zealand/@-41.2917782,174.7744558,17z">
              <span itemprop="streetAddress">Level 5, 158 Victoria St</span><br>
              Stephenson &amp; Turner House<br>
              <span itemprop="addressLocality">Te Aro, Wellington</span> 6011<br />
              <span itemprop="addressCountry">New Zealand &#9656;</span>
            </a>
          </div>
        </address>
      </div>
      <div class="cell" id="footer-postal">
        <address>
          Postal address:<br />
          <span itemprop="name">Dragonfly Data Science</span> <br />
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="postOfficeBoxNumber">PO Box 27535</span><br />
            <span itemprop="addressLocality">Wellington</span> <span itemprop="postalCode">6141</span><br />
            <span itemprop="addressCountry">New Zealand</span>
          </div>
        </address>
      </div>
    </div>
  </div>
  <div class="container footer-outer" id="footer-outer-social">
    <div class="footer-content">
      <div class="cell social" id="footer-social">
        <p>Follow us on</p>
        <div>
          <p>
          <a href="https://www.twitter.com/dflysci"><img src="/images/twitter-white.png" /></a>
          <a href="https://medium.com/dragonfly-data-science"><img src="/images/medium-white.png" /></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

