<div class="banner">
  <div class="banner-background"></div>
  <div class="container">
      <div class="sidebar"></div>
      <div class="content">
        <h1>Measure. Learn. Act.</h1>
        <p>Dragonfly uses data to  help government, industry, and business make effective decisions</p>
        <a href="/#work"><button>Learn more &#9660;</button></a>
      </div>
  </div>
</div>

<a class="anchor" id="work"></a>
<div class="container">
    <div class="sidebar"></div>
    <div class="content">
      <h1>Making the most of your data</h1>
      <p>
      Things we do. 
      Ko te moemoea a Maui kia haere ngatahi ai ratou ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano, “Kao, he rangatahi noa iho koe. Kaore he wahi mau kei te waka nei, na reira me noho tau ki tatahi ke”.
      </p>
    </div>
</div>

<div id="index-case-study">
    <div class="post-banner-overlay"></div>
    <div class="container">
        <div class="sidebar"></div>
        <div class="content">
            <blockquote>
                <p>Dragonfly has been absolutely awesome – we’re rapt</p>
                <cite>Jeremy Cooper, CEO, Pāua Industry Council</cite>
            </blockquote>
            <div>
                <p>We provide the databases, statistical analysis, and 
                    reporting to help the pāua industry sustainably manage their &dollar;50M export fishery.
                </p>
            </div>
        </div>
        <div class="wide">
            <div class="exit">
                <a href="/work/">
                    <button>Browse more examples our work  &#9656;</button>
                </a>
            </div>
        </div>
    </div>
</div>

    $partial("templates/people-list.html")$


    $partial("templates/news-list.html")$

