<section>
  <div class="post-banner-image" style="background-image: url('../resources/rear/port-napier.jpg')">
    <div class="post-banner-overlay medium-screen"></div>
      <div class="container">
        <blockquote class="wide">
          <h2>Dragonfly uses data to help government, industry, and business make effective decisions.</h2>
          <a href="#contact">Get in touch.</a>
        </blockquote>
      </div>
  </div>
</section>

<section id="work-section" class="index-section">
  <a class="anchor" id="work"></a>
  <div class="container">
    $partial("templates/work-list.html")$
    <a href="/work" class="index-link">
      Read more about our work.
    </a>
  </div>
</section>

<section id="about-section" class="index-section">  
  <a class="anchor" id="about"></a>
  <div class="container">    
    <section class="promo-block">
      <div class="statement">
        <h2> 
          <span class="highlight">We are scientists</span> who believe in making science useful in the world.
        </h2>
      </div>
      <div class="explanation">
        <p>
          Dragonfly brings together talented specialists who have excelled in their fields. Our technical skills
          include statistical analysis, database design and administration, data visualisation, and 
          software development. 
        </p>
        <p>
          We work on the real-world problems that
          matter to our clients, bringing solid, reliable evidence to the conversation. 
        </p>
        <p>
          Data science is all about getting to the bottom of it, and we are happy
          to dive deep. Our approach is fluid
          and pragmatic. We have the technical skills to pick problems apart,
          and the creativity to find novel solutions. 
        </p>
      </div>
      <div class="people-list">
        $for(people)$
          <div class="person">
            <a href="$pageurl$">
              <img src="$portholeImage$" />
              <p class="person-description">$title$</p>
            </a>
          </div>
        $endfor$
      </div>
    </section>
  </div>
  <div class="container">
    <a href="/about" class="index-link">
      Read more about our people.
    </a>
  </div>
</section>

<section class="index-section" id="publications-section">
  <a id="publications" class="anchor"></a>
  <div class="container">
    <section class="promo-block">
      <div class="statement">
        <h2> 
          <span class="highlight">We share our findings</span> with the scientific community and the broader community.
        </h2>
      </div>
      <div class="explanation">
        <p>
          As experts in our fields, we are widely published in a variety of scientific journals. We regularly present at conferences and publish papers both individually and as an organisation.
        </p>
      </div>
      <div class="journal-list">
        <div class="journal-logo" id="journal-nature">
          <img src="../images/journal-logos/nature.png">
        </div>
        <div class="journal-logo" id="journal-science">
          <img src="../images/journal-logos/science.png">
        </div>
        <div class="journal-logo" id="journal-plos">
          <img src="../images/journal-logos/plos.png">
        </div>
        <div class="journal-logo" id="journal-peerj">
          <img src="../images/journal-logos/peerj.png">
        </div>
      </div>
    </section>
    <div class="container">
      <a href="/publications" class="index-link">
        Read our publications.
      </a>
    </div>
  </div>
</section>
