<header class="responsive-navigation">
    <div class="responsive-navigation-wrapper" data-section="$section$" id="js-responsive-navigation-menu">
        <a href="" class="responsive-navigation-menu-button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a href="/" class="logo"></a>
        <nav>
          <ul class="responsive-navigation-menu">
            <li class="nav-link" data-section="index"><a href="/">Home</a></li>
            <li class="nav-link" data-section="people"><a href="/people">People</a></li>
            <li class="nav-link" data-section="blog"><a href="/blog">Blog</a></li>
            <li class="nav-link" data-section="publications"><a href="/publications">Publications</a></li>
            <li class="nav-link" data-section="data"><a href="/data">Data</a></li>
            <li class="nav-link"><a href="#footer-contact">Contact</a></li>
            <div class="contact-text">
              Phone: +64 (0)4 385 9285<br>
              Email: inbox@dragonfly.co.nz
            </div>
          </ul>
        </nav>
    </div>
</header>

