<header class="responsive-navigation">
    <div class="responsive-navigation-wrapper" data-section="$section$" id="js-responsive-navigation-menu">
        <a href="" class="responsive-navigation-menu-button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a href="/" class="logo"></a>
        <nav>
          <ul class="responsive-navigation-menu">
            <li class="nav-link" data-section="index"><a href="/">Home</a></li>
            <li class="nav-link" data-section="about"><a href="/about">About us</a></li>
            <li class="nav-link" data-section="work"><a href="/work">Our work</a></li>
            <li class="nav-link" data-section="resources"><a href="/resources">Resources</a></li>
            <li class="nav-link" data-section="contact"><a href="/contact">Contact</a></li>
            <div class="contact-text">
              Phone: +64 (0)4 385 9285<br>
              Email: inbox@dragonfly.co.nz
            </div>
          </ul>
        </nav>
    </div>
</header>

