<header class="page-header bg-light-peach math-paper">
  <div class="container mx-auto">
    <div class="page-header__container max-w-full">
      <h1 class="page-header__title">Latest news</h1>
    </div>
  </div>
</header>

<section id="top-section" class="math-paper">
  <div class="max-w-8xl w-full flex flex-wrap mx-auto">
    <div class="no-gutter-cell no-gutter-cell--advert flex justify-center">
      <div>
        <p class="no-gutter-cell--advert__text">
          We like to tell our stories about the work we do for clients, and 
          the diverse projects we're involved in.
        </p>

        <p class="no-gutter-cell--advert__text">
          So have a read through of the latest.
        </p>
      </div>
    </div>

    $for(news)$
      <div class="no-gutter-cell no-gutter-cell--news" style="background-image: url('$teaserImage$')">
        <span class="no-gutter-cell__tag">$published$</span>
        <h2 class="no-gutter-cell__title">$title$</h2>
        
        <div>
            $if(summary)$
            $summary$
          $else$
            $if(teaser)$ $teaser$ $endif$
          $endif$
        </div>
        
        <a href="$pageurl$" class="link-icon no-gutter-cell__link no-gutter-cell--news__link"><span class="icon dragonfly-arrow ml-0"></span></a>
      </div>
    $endfor$
  </div>

  <section class="call-to-action">
    <div class="container mx-auto text-center">
      <a href="#" class="call-to-action__button button button--rounded button--cool-blue">Load more</a>
    </div>
  </section>
</section>

