<header class="page-header bg-light-peach math-paper">
  <div class="container mx-auto">
    <div class="page-header__container max-w-full">
      <h1 class="page-header__title">Latest news</h1>
    </div>
  </div>
</header>

<section id="top-section" class="math-paper">
  <div class="collection-grid">
    <div class="no-gutter-cell no-gutter-cell--advert flex justify-center">
      <div>
        <p class="no-gutter-cell--advert__text">
          We like to tell our stories about the work we do for clients, and 
          the diverse projects we're involved in.
        </p>

        <p class="no-gutter-cell--advert__text">
          So have a read through of the latest.
        </p>
      </div>
    </div>

    $for(news)$
      <a href="$pageurl$" class="no-gutter-cell no-gutter-cell--overlay" style="background-image: url('$teaserImage$')">
        <span class="no-gutter-cell__tag">$published$</span>
        <strong class="no-gutter-cell__title">$title$</strong>
        <span class="link-icon no-gutter-cell__link no-gutter-cell--overlay__link"><span class="icon dragonfly-arrow ml-0"></span></span>
      </a>
    $endfor$
  </div>

  <section class="call-to-action">
    <div class="container mx-auto text-center">
      <a href="#" class="call-to-action__button button button--rounded button--cool-blue">Load more</a>
    </div>
  </section>
</section>

