<header class="page-header bg-light-peach math-paper">
  <div class="container mx-auto">
    <div class="page-header__container max-w-full">
      <h1 class="page-header__title">Latest news</h1>
    </div>
  </div>
</header>

<section id="top-section" class="math-paper">
  <div class="collection-grid">
    <div class="no-gutter-cell no-gutter-cell--advert">
      <div>
        <p class="no-gutter-cell--advert__text">
          We like to tell our stories about the work we do for clients, and 
          the diverse projects we're involved in.
        </p>

        <p class="no-gutter-cell--advert__text">
          So have a read through the latest.
        </p>
      </div>
    </div>

    $for(news)$
      $partial("templates/_tile.html")$
    $endfor$
  </div>
</section>

