$if(banner-image)$
  <div class="post-banner-image" style='background-image: url("$banner-image$")'>
  </div>
$endif$

<div class="container post-detail">
  <div class="heading">
   $if(title)$
    <h1>$title$</h1>
   $endif$
   <div class="details">
     $if(date)$<p>$date$</p>$endif$
     $if(author)$<p>$author$</p>$endif$
   </div>
  </div>
 <div class="sidebar">
  <div class="post-info">
  $if(logo)$
    <img src="$logo$">
  $endif$
  </div>
  </div>
  <div class="content">
    $body$
  </div>
</div>
$partial("templates/bubble-navigation.html")$
