<a class="anchor" id="about"></a>
<div class="container">
    <div class="content wide">
    <h1>About us</h1>
      <div class="lead">
        <p>
              Dragonfly brings together talented specialists who have excelled in their fields. Our technical skills
              include statistical analysis, database design and administration, data visualisation, and 
              software development. 
              
              <!-- We enjoy working with clients and stakeholders to design creative solutions.-->
        </p>
      </div>
      <p>
            We work on the real-world problems that
            matter to our clients, bringing solid, reliable evidence to the conversation. 
            Data science is all about getting to the bottom of it, and we are happy
            to dive deep. Our approach is fluid
            and pragmatic. We have the technical skills to pick problems apart,
            and the creativity to find novel solutions. 
        </p>
      </div> 
</div>
<div class="container">
  <div class="porthole-grid wide">
    $for(people)$
    <div class="porthole">
      <img src="$portholeImage$" />
      <h4><a href="$pageurl$">$title$</a></h4>
      $teaser$
      <a href="$pageurl$" class="read-more">Read more</a>.
    </div>
    $endfor$
  </div>
</div>
