<div class="container">
  <div class="wide">
    <h2> 
        Statistical and software development specialists.
    </h2>
    <p class="lead">
      We are scientists who believe in being useful. Our technical skills include statistical analysis, database design and administration, data visualisation, and software development. 
      We have wide experience in marine science, theoretical physics, mathematics, and ecology.
    </p>
    <a class="anchor" id="staff"></a>
    <div class="porthole-grid three-columns">
      $for(people)$
        <div class="porthole">
          <a href="$pageurl$">
            <img src="$portholeImage$" />
          </a>
          <h4><a href="$pageurl$">$title$</a></h4>
          $teaser$
          <a href="$pageurl$" class="read-more">Read more</a>
        </div>
      $endfor$
    </div>
  </div>
</div>
