<div class="container">
  <div class="wide">
    <h2>
      We are scientists who believe in being useful.
    </h2>
    <p class="lead">
      Our technical skills include statistical analysis, database design and administration, data visualisation, and software development. We have wide experience in marine science, theoretical physics, mathematics, and ecology.
    </p>
    <!--
  <div class="index-banner-text">
    <div class="container">
        <div class="wide">
          <a href="/people/senior-data-scientist.html">
            <p>
	    We are currently looking for a senior data scientist to join our team.
	    <span class="read-more" style="color: white"> Read more</span>
            </p>
          </a>
        </div>
     </div>
  </div>
    -->
    <a class="anchor" id="staff"></a>
    <div class="porthole-grid three-columns">
      $for(people)$
        <div class="porthole">
          <a href="$pageurl$">
            <img src="$teaserImage$" />
          </a>
          <h4><a href="$pageurl$">$title$</a></h4>
          $teaser$
          <a href="$pageurl$" class="read-more">Read more</a>
        </div>
      $endfor$
    </div>
  </div>
</div>
