<header class="page-header page-header--image-bg page-header--article $if(firstname)$person-$firstname$$endif$" id="hero-$tag$">
  <div class="page-header__outer">
    <div class="page-header__container flex flex-col">
      <h1 class="page-header__title">
        $if(bannerTitleLine1)$
          $bannerTitleLine1$<br>
          $if(bannerTitleLine2)$$bannerTitleLine2$$endif$
        $else$
          $firstname$<br>
          $lastname$
        $endif$
        $if(honour)$<br>
        <span class="font-light">$honour$</span>$endif$
      </h1>

      <a href="#top-section" class="link-icon link-icon--arrow-down link-icon--large">
        <span class="icon dragonfly-arrow"></span>
      </a>

    </div>
  </div>

  <div class="background-image bg-light-peach$if(banner)$ lozad lozad-image$endif$"$if(banner)$ data-background-image="$banner$"$endif$></div>
</header>

<article id="top-section" class="article math-paper">
  <div class="bg-light-peach px-6">
    <div class="sticky-container container mx-auto py-24 flex flex-col lg:flex-row">
      <div class="sticky-container__body body-content body-content--article my-0" id="content-$tag$">
        $body$
      </div>
      <aside class="sidebar sticky-sidebar">
        <div class="sticky-container__element w-56">
            $if(email)$
            <a href="mailto:$email$">$email$</a><br/>
            $endif$
            $if(phone)$
            <a href="tel:$phone$">$phone$</a>
            $endif$

            <a href="/people/" class="button call-to-action__button call-to-action__button--slate-grey button--icon button--icon-left mt-8">
                <span class="button--icon-left__icon dragonfly-arrow transform rotate-180"></span>
                <span class="button--icon-left__text">Back to team</span>
            </a>
        </div>
      </aside>
    </div>
  </div>
</article>