<div class="hero" id="hero-$tag$"> 
  <img src="$banner$" width="100%"/>  <!-- TODO: put banner back here" -->
</div>
<div class="container post-detail">
  <div class="wide post-info">
    <h1 id="title-$tag$">$title$</h1>
    $if(email)$
    <p>Email <a href="mailto:$email$">$email$</a><p>
    $endif$
    
    $if(phone)$
    <p>Call $firstname$ on <a href="tel:$phone$">$phone$</a><p>
    $endif$
  </div>
  <div class="sidebar"></div>
  <div class="content" id="content-$tag$">
    
    $body$

  </div>
</div>
$partial("templates/bubble-navigation.html")$
