<div class="hero" id="hero-$tag$"> 
  <img src="$banner$" width="100%"/>
</div>
<div class="container post-detail">
  <div class="heading wide">
    <h1 id="title-$tag$">$title$</h1>
    <div class="details">
      $if(email)$
        <p>Email <a href="mailto:$email$">$email$</a><p>
      $endif$
      $if(phone)$
        <p>Call $firstname$ on <a href="tel:$phone$">$phone$</a><p>
      $endif$
    </div>
  </div>
  <div class="wide post-body" id="content-$tag$">
    $body$
  </div>
</div>
$partial("templates/bubble-navigation.html")$
