<div class="container">
  <section class="promo-block">
    <div class="statement">
      <h2>
        We do <span class="highlight">data science</span>.
      </h2>
    </div>
    <div class="explanation">
      <p>
        We use <span class="highlight">statistical analysis</span> so our clients can make decisions based on the best available information.
      </p>
      <p>
        We <span class="highlight">build operational systems</span> for data management, analysis, and reporting.
      </p>
      <p>
        We enable <span class="highlight">evidence based policy</span> with research and analysis.
      </p>
      <p>
        We support the development of clients' <span class="highlight">data science capability</span>.
      </p>
    </div>
  </section>
  <h1> <span class="overline"> Case studies</span></h1>
  <div class="case-study-list">
    $for(work)$
      <div class="case-study">
        <a href="$pageurl$">
          <div style="background-image: url('$teaserImage$')" class="case-study-image">
          </div>
        </a>
        <div class="case-study-description">
          <a href="$pageurl$">
            <h4>$title$</h4>
          </a>
          $if(teaser)$ $teaser$ $endif$
          <span><a href="$pageurl$" class="read-more">Read more &#9656;</a></span>
        </div>
      </div>
    $endfor$
  </div>
</div>
