<header class="page-header page-header--reversed bg-cool-blue math-paper math-paper--reverse">
  <div class="page-header__outer">
    <div class="page-header__container text-white">
      <h1 class="page-header__title">Projects</h1>

      <div class="page-header__content">
        <p>
            Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis 
            natoque penatibus et magnis dis parturient montes.
        </p>
      </div>
    </div>
  </div>
</header>


<!-- <section id="top-section" class="math-paper bg-light-peach">
  <div class="collection-grid collection-grid--2cell collection-grid--no-bottom list">
    $for(work)$
      $partial("templates/_tile.html")$
    $endfor$
  </div>
</section> -->

<section id="top-section" class="math-paper">
  <div id="filter-list" data-type="case study">
    <div class="filtering bg-light-peach">
      <div class="flex">
        <div class="filtering__tools">
          <div class="filtering__tools__header">
            $partial("templates/_search-field.html")$
          </div>
        </div>
      </div>
    </div>

    <div class="collection-grid collection-grid--articles collection-grid--no-bottom list">
      $for(work)$
        $partial("templates/_tile.html")$
      $endfor$
    </div>
  </div>
</section>

<section class="call-to-action call-to-action--single-column">
  <div class="call-to-action__container container">
    <p class="call-to-action__text">Sound like the sort of thing you're after?</p>
    <a href="#contact" class="button call-to-action__button call-to-action__button--cool-blue">Get in touch</a>
  </div>
</section>
  