<div class="post-banner-image" style='background-image: url("$banner-image$")'>
  $if(quote)$
    <div class="post-banner-overlay"></div>
    <div class="container">
      <blockquote class="wide">
        <p>$quote$</p>
        <cite>$quote-attribution$</cite>
      </blockquote>
    </div>
  $endif$
</div>

<div class="container post-detail">
 $if(title)$
    <div class="heading">
      <h1>$title$</h1>
    </div>
 $endif$
$if(logo)$
  <div class="sidebar details-sidebar">
    <div class="post-info">
      <img src="$logo$">
    </div>
  </div>
$endif$
  <div class="content">
    $if(teaser)$
    <div class="lead">$teaser$</div>
    $endif$
    $body$
  </div>
</div>
$partial("templates/bubble-navigation.html")$
