<header class="page-header page-header--article $if(banner-image)$bg-black text-white jarallax$else$math-paper bg-light-peach$endif$">
    $if(banner-image)$<img class="jarallax-img page-header__bg-image lozad lozad-image" src="$banner-image$" />$endif$
  <div class="container mx-auto">
    <div class="page-header__container">
      $if(title)$
      <h1 class="page-header__title">$title$</h1>
      $endif$

      $if(summary)$
      <p class="page-header__content">
        $summary$
      </p>
      $endif$

      <a href="#top-section" class="link-icon link-icon--large  link-icon--arrow-down">
        <span class="icon dragonfly-arrow"></span>
      </a>

    </div>
  </div>
</header>


<article id="top-section" class="article math-paper">
  <div class="bg-light-peach px-6">
    <div class="container mx-auto flex flex-col lg:flex-row">
      <div class="body-content body-content--article">
        $body$
      </div>
      <aside class="sidebar text-center lg:text-left">
        $if(logo)$
        <img src="$logo$" class="mx-auto mb-8">
        $endif$

        $if(project-link)$
        $if(project-link-title)$<span class="sidebar__title mb-2 lg:text-left">$project-link-title$</span>$endif$
        <a href="$project-link$" target="_blank" class="button button--cool-blue button--rounded button--icon button--small hover:button--white">
          <span class="button--icon__text">$if(project-link-text)$$project-link-text$$else$Visit project$endif$</span>
          <span class="button--icon__icon dragonfly-arrow -rotate-45"></span>
        </a>
        $endif$
      </aside>
    </div>
  </div>
</article>

<div class="related-content">
  <header class="related-content__header container">
    <h2 class="related-content__title">You might also like these projects</h2>
  </header>
  $partial("templates/_bubble-navigation.html")$
</div>
