<div class="post-banner-image menu-spacer" style='background-image: url("$banner-image$")'>
    <div class="post-banner-overlay medium-screen"></div>
    <div class="container">
        $if(quote)$
        <blockquote class="wide"><p>$quote$</p><cite>$quote-attribution$</cite></blockquote>
        $endif$
    </div>
</div>

<div class="container post-detail">
 $if(title)$
   <div class="sidebar">
   </div>
   <div class="content">
    <h1>$title$</h1>
   </div>
 $endif$
 <div class="sidebar">
  <div class="post-info">
  $if(logo)$
    <img src="$logo$">
  $endif$
  </div>
  </div>
  <div class="content">
    $if(teaser)$
    <div class="lead">$teaser$</div>
    $endif$
    $body$
  </div>
</div>
$partial("templates/bubble-navigation.html")$
