<div class="container">
  <a class="anchor" id="stats"></a>
  <div class="wide padded-section">
    <div class="statement">
      <h1>
        We use statistical analysis
      </h1>
      <p class="lead">
        Our speciality is modern Bayesian methods, which allow uncertainty to be carried all the way through from analysis to decision making. 
      </p>
    </div>
    <div class="porthole-grid four-columns">
        $for(tag_stats)$ 
          $partial("templates/_case-study.html")$
        $endfor$
    </div>
  </div>
  <a class="anchor" id="systems"></a>
  <div class="wide padded-section">
    <div class="statement">
      <h1>
        We build systems for data
      </h1>
      <p class="lead">
        We build custom systems to allow organisations to get ongoing value from their data.
        Our statistical work is supported by excellent technical database and software development skills.
      </p>
    </div>
    <div class="porthole-grid four-columns">
        $for(tag_systems)$ 
          $partial("templates/_case-study.html")$
        $endfor$
    </div>
  </div>
  <a class="anchor" id="policy"></a>
  <div class="wide padded-section">
    <div class="statement">
      <h1>
        We enable evidence based policy 
      </h1>
      <p class="lead">
        Good research and analysis builds consensus between stakeholders, and enables the development of policy that makes best use of available information.
      </p>
    </div>
    <div class="porthole-grid four-columns">
        $for(tag_policy)$ 
          $partial("templates/_case-study.html")$
        $endfor$
    </div>
  </div>
  <a class="anchor" id="capability"></a>
  <div class="wide padded-section">
    <div class="statement">
      <h1>
        We improve data science capability
      </h1>
      <p class="lead">
        We work openly with clients and transfer our skills to the teams we work with. We help teams to develop efficient processes for carrying out high quality, reliable analysis.
      </p>
    </div>
    <div class="porthole-grid four-columns">
        $for(tag_capability)$ 
          $partial("templates/_case-study.html")$
        $endfor$
    </div>
  </div>
</div>
