<div class="container post-detail">
  $if(title)$
    <div class="heading wide">
      <h1>$title$</h1>
    </div>
  $endif$
  <div class="sidebar">
    $if(pdf)$
      <h3 class="download">
        <a href="/publications/pdf/$pdf$">
          <i class="fa fa-file-pdf-o"></i>
          Download PDF
        </a>
      </h3>
    $endif$
    $if(tags)$
      <h3>Tags:</h3>
      $for(tags)$
        <a href="/publications/?tag=$tag$">$tagDisplay$</a>
      $endfor$
    $endif$
  </div>
  <div class="content">
    <h3>Citation</h3>
    <p>$citation$</p>
    <h3>Summary</h3>
    $body$
  </div>
</div>
