<header class="page-header page-header--news page-header--article page-header--small page-header--no-overlay bg-light-peach math-paper">
  <div class="page-header__outer">
    <div class="page-header__container flex flex-col">
      $if(title)$<h1 class="page-header__title max-w-full w-full">$title$</h1>$endif$
    </div>
  </div>
</header>

<article id="top-section" class="article">
  <div class="bg-light-peach px-6">
    <div class="container mx-auto flex flex-col lg:flex-row">
      <div class="body-content body-content--article body-content--full-width">
          $if(citation)$
            <div class="body-content__citation">
                <h2 class="body-content__title">Citation</h2>
                $citation$
            </div>
          $endif$
          $if(citation)$
          <h3 class="body-content__title">Summary</h3>
          $else$
          <h2 class="body-content__title">Summary</h2>
          $endif$
          <div class="body-content__body">
              $body$
          </div>
      </div>

      <aside class="sidebar publication-sidebar">
          $if(tags)$
            <h3 class="mt-4 mb-2 font-bold">Tags</h3>
            <nav class="tag-list">
            $for(tags)$
              <a href="/publications/?tags=$tag$" class="tag-list__tag tag-list__tag--$tag$ no-underline">$tagDisplay$</a>
            $endfor$
            </nav>
          $endif$

          $if(pdf)$
            <a class="relative z-20 button call-to-action__button call-to-action__button--cool-blue button--icon button--icon-left mt-8" href="//files.dragonfly.co.nz/publications/pdf/$pdf$">
              <span class="button--icon-left__icon dragonfly-pdf"></span>
            <span class="button--icon-left__text">download report</span>
            </a>
          $endif$

          <a href="/publications" class="button call-to-action__button call-to-action__button--slate-grey button--icon button--icon-left mt-4">
            <span class="button--icon-left__icon dragonfly-arrow transform rotate-180"></span>
            <span class="button--icon-left__text">all publications</span>
          </a>

      </aside>
    </div>
  </div>
</article>

