<div class="container">
  <div class="sidebar"></div>
  <div class="content">
      <h1>Publications, reports, and presentations</h1>
      <br />
        <div id="publication-list" class="post-list">
        <input class="search publication-search" placeholder="Search" />
        <span class="badge" id="publication-count" style="display: none"></span>
            <ul class="list">
            $for(publications)$
                    $partial("templates/citation-entry.html")$
            $endfor$
            </ul>
        </div>
  </div>
</div>
