<header class="page-header page-header--white page-header--article jarallax">
    <img class="jarallax-img page-header__bg-image lozad lozad-image" src="/images/whatwedo_header.jpg" />
    <div class="page-header__outer">
        <div class="page-header__container">
            $if(title)$<h1 class="page-header__title">$title$</h1>$endif$
        
            $if(introduction)$<p class="page-header__content">$introduction$</p>$endif$
            
            <a href="#top-section" class="link-icon link-icon--arrow-down link-icon--large">
                <span class="icon dragonfly-arrow"></span>
            </a>
        </div>
    </div>
</header>

$for(whatwedo)$
$if(teaserAnchorId)$<a class="anchor" id="$teaserAnchorId$"></a>$endif$
<section id="top-section" class="numbered-section numbered-section--no-numbers bg-light-peach">
    <div class="numbered-section__container container">
        <div class="numbered-section__content">
            $if(teaserTitle)$<h2 class="numbered-section__heading ruled-heading ruled-heading--cool-blue"><span>$teaserTitle$</span></h2>$endif$
            $if(teaserIntro)$
            <p class="numbered-section__text">
                $teaserIntro$
            </p>
            $endif$
        
            $if(pageurl)$
            <div class="call-to-action-block">
                <span>$teaserCTAdescriptor$</span>
                <a
                    href="$pageurl$"
                    class="call-to-action__button button call-to-action__button--cool-blue">
                    $teaserCTAbutton$
                </a>
            </div>
            $endif$
        </div>
        <div class="numbered-section__content scrollable">
            <img src="$teaserImage$" class="lozad lozad-image" alt="Bayesian Analysis image">
        </div>
    </div>
</section>
$endfor$
    



<a class="anchor" id="systems"></a>
<section class="numbered-section numbered-section--no-numbers bg-light-peach">
    <div class="numbered-section__container container">
        <div class="numbered-section__content">
            <h2 class="numbered-section__heading"><span>Systems for data</span></h2>
            <p class="numbered-section__text">
                Supporting data analysis is excellent technical database and 
                software development skills. We develop operational systems
                that are transparent, reproducible, and continuously integrated,
                to allow organisations to get ongoing value from their
                data.
            </p>
            <p class="numbered-section__text">
                Data is precious. It deserves to be stored properly and 
                securely. We build robust databases and software systems.
            </p>
        
            <a href="/work/?tags=systems" class="link-icon numbered-section__link"><span class="text">See example projects</span> <span class="icon dragonfly-arrow"></span></a>
        </div>
        <div class="numbered-section__content scrollable">
            <img src="/images/PC210279.JPG" class="lozad lozad-image" alt="Bayesian Analysis image">
        </div>
    </div>
</section>

<a class="anchor" id="policy"></a>
<section class="numbered-section numbered-section--no-numbers bg-light-peach">
    <div class="numbered-section__container container">
        <div class="numbered-section__content">
            <h2 class="numbered-section__heading">
                <span>Evidence for sound decision-making</span>
            </h2>
            <p class="numbered-section__text">
                Great policy is rooted in sound research and data analysis.
                Having trusted information to hand builds consensus and
                enables people to come together and make good decisions.
            </p>
        
            <a href="/work/?tags=policy" class="link-icon numbered-section__link"><span class="text">Policy informing projects</span> <span class="icon dragonfly-arrow"></span></a>
        </div>
        <div class="numbered-section__content scrollable">
            <img src="/images/PC210279.JPG" class="lozad lozad-image" alt="Bayesian Analysis image">
        </div>
    </div>
</section>

<a class="anchor" id="capability"></a>
<section class="numbered-section numbered-section--no-numbers bg-light-peach">
    <div class="numbered-section__container container">
        <div class="numbered-section__content">
            <h2 class="numbered-section__heading">
                <span>Upskilling your team</span>
            </h2>
            <p class="numbered-section__text">
                We're not about keeping everything to ourselves - we love to 
                share our knowledge and equip your team. Our style is to
                help get things set up right, then walk alongside until you're 
                ready to do it yourselves. And we're always there to help
                with the tricky stuff.
            </p>
        
            <a href="/work/?tags=capability" class="link-icon numbered-section__link"><span class="text">Transferring our skills</span> <span class="icon dragonfly-arrow"></span></a>
        </div>
        <div class="numbered-section__content scrollable">
            <img src="/images/PC210279.JPG" class="lozad lozad-image" alt="Bayesian Analysis image">
        </div>
    </div>
</section>

<section class="list-container bg-cool-blue text-white">
    <div class="container mx-auto inner-column">
        <h2 class="list-container__title">Our favourite tools include</h2>
        <div class="list-container__lists tools">
            <a 
                class="tools__tool fab fa-r-project"
                href="https://www.r-project.org/"
                target="_blank"
                title="R"
                aria-hidden="true"
                ></a>
            <a
                class="tools__tool fab fa-python"
                href="https://www.python.org/"
                target="_blank"
                aria-hidden="true" title="python"></a>
            <a
                class="tools__tool fab fa-docker"
                href="https://www.docker.com"
                target="_blank"
                title="Docker"
                aria-hidden="true"></a>
            <a
                class="tools__tool fab fa-github"
                href="https://github.com"
                target="_blank"
                title="GitHub"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-gatsby"
                href="https://www.gatsbyjs.org"
                target="_blank"
                title="Gatsby"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-elm"
                href="https://elm-lang.org"
                target="_blank"
                title="Elm"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-django"
                href="https://www.djangoproject.com/"
                target="_blank"
                title="Django"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-latex"
                href="https://www.latex-project.org/"
                target="_blank"
                title="LaTeX"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-haskell"
                href="https://www.haskell.org/"
                target="_blank"
                title="Haskell"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-tensorflow"
                href="https://www.tensorflow.org/"
                target="_blank"
                title="Tensorflow"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-rstudio"
                href="https://rstudio.com/"
                target="_blank"
                title="R Studio"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-pytorch"
                href="https://pytorch.org/"
                target="_blank"
                title="PyTorch"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-postgresql"
                href="https://www.postgresql.org/"
                target="_blank"
                title="PostgreSQL"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-qgis"
                href="https://www.qgis.org/en/site/"
                target="_blank"
                title="QGIS"
                aria-hidden="true"></a>
            <a
                class="tools__tool dragonfly-stan"
                href="https://mc-stan.org/"
                target="_blank"
                title="Stan"
                aria-hidden="true"></a>
            <a
                class="tools__tool fab fa-react"
                href="https://reactjs.org/"
                target="_blank"
                title="React"
                aria-hidden="true"></a>
            <!-- R √
Python √
Stan x√
Docker √
LaTeX x√
Haskell x√
Tensorflow x√
PyTorch x√
Django x√
PostgreSQL x√
PostGIS x -- not found
QGIS x√
Shiny x√ - well R Studio
Elm x√
Gatsby x√
React √
GitHub √ -->

            <!-- <ul>
                <li>Data consultation</li>
                <li>Risk assessment</li>
                <li>Statistical analyses</li>
                <li>Spatial modelling</li>
            </ul>

            <ul>
                <li>Machine learning</li>
                <li>Natural Language Processing</li>
                <li>Data visualisation</li>
            </ul>

            <ul>
                <li>R</li>
                <li>Shiny</li>
                <li>Python</li>
                <li>PostgreSQL</li>
            </ul> -->

        </div>
    </div>
</section>

<section class="call-to-action call-to-action--dual-column">
    <div class="call-to-action__container container">
        <p class="call-to-action__text">
        Do you have a project that requires any of these skills?
        </p>
        <div class="call-to-action__button-container">
        <a href="#contact" class="call-to-action__button button call-to-action__button--cool-blue">Get in touch</a>
        </div>
    </div>
</section>