<header class="page-header page-header--white page-header--article" $if(banner)$
    style="background-image: url($banner$);" $endif$>
    <div class="page-header__outer">
        <div class="page-header__container">
            $if(title)$<h1 class="page-header__title">$title$</h1>$endif$

            $if(subtitle)$<p class="page-header__content">$subtitle$</p>$endif$

            <a href="#top-section" class="link-icon link-icon--arrow-down link-icon--large">
                <span class="icon dragonfly-arrow"></span>
            </a>
        </div>
    </div>
</header>


<article id="top-section" class="article bg-light-peach">
    <div class="px-6">
        <div class="sticky-container container mx-auto pt-24 flex flex-col items-start lg:flex-row">
            <div class="sticky-container__body body-content body-content--article flex-grow my-0">
                $body$
            </div>
            <aside class="sidebar sticky-sidebar ml-auto mr-0">
                <div class="sticky-container__element w-56">
                    $if(author)$
                    $if(quote)$
                    <blockquote class="sidebar-caption ruled-heading">$quote$</blockquote>
                    $endif$
                    $for(author)$
                    <a href="$pageurl$" class="no-gutter-cell person-tile person-tile--singular">
                        <img class="sticky-lozad" data-src="$teaserImage$" width="100%" height="auto" />
                        <h2 class="person-tile__title absolute bottom-0 left-0 p-4 w-full max-w-full">
                            $firstname$<br>
                            $lastname$<br>
                            <br>
                            <em>$role$</em>
                        </h2>
                    </a>
                    $endfor$
                    $endif$
                </div>
            </aside>
        </div>
    </div>

    $if(tiles)$
    <div class="px-6">
        <section class="container mx-auto what-we-do-section">
            <header class="what-we-do-section__intro">
                <h2 class="what-we-do-section__intro__title">Related projects</h2>
            </header>

            <div class="what-we-do-section__projects">
                $for(tiles)$
                $partial("templates/_related-project-tile.html")$
                $endfor$
            </div>
        </section>
    </div>
    $endif$
</article>