<header
  class="
    page-header page-header--reversed
    bg-cool-blue
    math-paper math-paper--reverse
  "
>
  <div class="page-header__outer">
    <div class="page-header__container text-white">
      <h1 class="page-header__title">$if(title)$$title$$endif$</h1>

      <div class="page-header__content">
        <p>$introduction$</p>
      </div>
    </div>
  </div>
</header>

<section id="top-section" class="math-paper">
  <div
    class="
      collection-grid collection-grid--articles collection-grid--no-bottom
      list
    "
  >
    $for(work)$ $partial("templates/_tile-index.html")$ $endfor$
  </div>
</section>
