<div class="two-thirds">
  <div class="services-list">
  
    <div class="case-study">
      <h3>Make <a class="highlight" href="/work#stats">informed decisions</a></h3>
      <a href="/work/2015-09-04-technical-review-case-study.html">
        <div style="background-image: url('/work/2015-09-04-technical-review-case-study/teaser.jpg')" class="case-study-image">
        </div>
      </a>
      <div class="case-study-description">
        <a href="/work/2015-09-04-technical-review-case-study.html">
          <p> We specialise in modern statistical methods. Read how we used statistical analysis to help fisheries' managers prioritise seabird conservation.</p>
        </a>
      </div>
    </div>

    <div class="case-study">
      <h3>Get <a class="highlight" href="/work#systems">ongoing value</a> from your data</h3>
      <a href="/work/2015-03-02-paua-logger-case-study.html">
        <div style="background-image: url('/work/2015-03-02-paua-logger-case-study/teaser.jpg')" class="case-study-image">
        </div>
      </a>
      <div class="case-study-description">
        <a href="/work/2015-03-02-paua-logger-case-study.html">
          <h4>Sustainable fisheries</h4>
          <p>A seamless system to upload, process, and display daily pāua catch data. </p>
        </a>
      </div>
    </div>
    <div class="case-study">
      <h3>Develop <a class="highlight" href="/work#policy">evidence based policy</a></h3>
      <a href="/work/2014-10-01-warp-strike.html">
        <div style="background-image: url('/work/2014-10-01-warp-strike/teaser.jpg')" class="case-study-image">
        </div>
      </a>
      <div class="case-study-description">
        <a href="/work/2014-10-01-warp-strike.html">
          <h4>Reducing albatross fatalities in trawl fisheries</h4>
          <p>An objective search for the best device to reduce albatross fatalities. </p>
        </a>
      </div>
    </div>

    <div class="case-study">
      <h3>Build your <a class="highlight" href="/work#capability">data science capability</a></h3>
      <a href="/work/2015-03-25-reporting-case-study.html">
        <div style="background-image: url('/work/2015-03-25-reporting-case-study/teaser.jpg')" class="case-study-image">
        </div>
      </a>
      <div class="case-study-description">
        <a href="/work/2015-03-25-reporting-case-study.html">
          <p>We worked with a reporting team to build their data science capability</p>
        </a>
      </div>
    </div>


  </div>
</div>
