// Typography
$sans-serif: "omnes-pro",$helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1.1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(5);

$heavy-underline: em(6);
$medium-underline: em(4);
$content-margin: 24px;
$content-margin-clinical: 48px;
$content-margin-transient: 12px;

@mixin side-margins() {
    /* margins for full width are generally managed via the grid settings ... */
    @include media($clinical) {
        padding-left: $content-margin-clinical;
        padding-right: $content-margin-clinical;
    }
    @include media($transient) {
        padding-left: $content-margin-transient;
        padding-right: $content-margin-transient;
    }
}


@mixin content-left-padding {
    padding-left: $content-margin;
    @include media($clinical) {
        padding-left: $content-margin-clinical;
    }
    @include media($transient) {
        padding-left: $content-margin-transient;
    }
}

$font-size-large: $base-font-size * 3; // 16 * 3 = 48px
$font-size-h1: $base-font-size * 2.25; // 16 * 2.25 = 36px
$font-size-h2: $base-font-size * 1.5; // 16 * 1.5 = 24px
$font-size-h3: $base-font-size * 1.25; // 16 * 1.25 = 20px
$font-size-h4: $base-font-size * 1.125; // 16 * 1.125 = 18px
$font-size-h5: $base-font-size;
$font-size-h6: $base-font-size;
$font-size-h1-clinical: $base-font-size * 1.75;
$font-size-h2-clinical: $base-font-size * 1.5;
$font-size-h3-clinical: $base-font-size * 1.25;
$font-size-h4-clinical: $base-font-size * 1.125;
$font-size-h5-clinical: $base-font-size;
$font-size-h6-clinical: $base-font-size;
$font-size-h1-transient: $base-font-size * 1.5;
$font-size-h2-transient: $base-font-size * 1.25;
$font-size-h3-transient: $base-font-size * 1.125;
$font-size-h4-transient: $base-font-size;
$font-size-h5-transient: $base-font-size;
$font-size-h6-transient: $base-font-size;

$para-line-height: 1.45em;

// Colors
$blue: #477DCA;
$dark-gray: #222222;
$medium-gray: #4D4D4D;
$light-gray: #808080;
$lighter-gray: #CCCCCC;
$thin-gray: #E7E7E7;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
// Ocean colors
$people-green: #5AB18C;
$data-purple: #82127E;
$blog-red: #CF4547;
$publications-orange: #EB7A59;
$wing-flash-blue: #2093bf;
$dark-purple: #5E416D;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-heading-color: $medium-gray;
$base-accent-color: $dark-purple;

// Link Colors
$base-link-color: $base-font-color;
$hover-link-color: lighten($base-link-color, 15);
$base-button-color: $base-accent-color;
$hover-button-color: lighten($base-button-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

