:root {
  --beige: #d2cec3;
  --cool-blue: #43a1c9;
  --dark-peach: #eb7a59;
  --faded-purple: #a3649b;
  --faded-red: #cf4547;
  --grape: #5b3456;
  --greeny-blue: #50ad85;
  --greyish-brown: #4a4a4a;
  --light-grey: #d1d3d4;
  --light-peach: #e5decc;
  --pale-grey: #f1f1f2;
  --pale-teal: #9dc4a9;
  --slate-grey: #565659;
  --very-light-pink: #e7e7e7;
  --white: #fff;
  --black: #000;
}

html {
  @apply font-body text-slate-grey;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

::selection {
  color: var(--white);
  background: var(--cool-blue);
}
