.collection-grid {
    @apply max-w-8xl w-full flex flex-wrap mx-auto pb-20;
}

/* Variations. */
.collection-grid {
    &--no-bottom {
        @apply pb-0;
    }

    &--2cell {
        @apply max-w-full;

        .no-gutter-cell {
            @apply max-w-full w-full px-6 !important;

            &--advert {
                > div {
                    @apply max-w-full !important;
                }
            }
        }
    }

    &--4cell {
        @apply max-w-full;

        .no-gutter-cell {
            &__title {
                font-size: 8vw;
            }
        }
    }
}

@screen sm {
    .collection-grid {
        &--no-bottom {
            @apply pb-0;
        }
    
        &--2cell {
            .no-gutter-cell {
                @apply w-full !important;

                /* &--advert {
                    > div {
                        @apply max-w-3/4 !important;
                    }
                } */
            }
        }

        &--4cell {
            @apply max-w-full;
    
            .no-gutter-cell {
                &__title {
                    font-size: 6vw;
                }
            }
        }
    }
}

@screen md {
    .collection-grid {
        .no-gutter-cell {
            &__title {
                /* font-size: 6vw; */
            }
        }
    }
}

@screen lg {
    .collection-grid {
        @apply pb-32;

        &--no-bottom {
            @apply pb-0;
        }

        &--work {
            .no-gutter-cell {
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    width: 33.333%;

                    .no-gutter-cell__title {
                        @apply max-w-3/4 !important;
                        font-size: 3.2vw;
                    }
                }
            }
        }

        &--2cell {
            .no-gutter-cell {
                @apply max-w-1/2 w-full px-24 !important;
    
                &__text {
                    @apply max-w-2/3 !important;
                }
            }
        }

        &--4cell {
            .no-gutter-cell {
                &__title {
                    font-size: 4vw !important;
                }
            }
        }
    }
}

@screen xl {
    .collection-grid {
        &--2cell {
            .no-gutter-cell {
    
                &--advert {
                    /* > div {
                        @apply max-w-3/4 !important;
                    } */
                }
            }
        }

        &--4cell {
            .no-gutter-cell {
                &__title {
                    font-size: 3.2vw !important;
                }
            }
        }
    }
}