/* No gutter column - for use on homepage, people page etc. */
.no-gutter-cell {
    @apply w-full bg-cool-blue bg-cover px-6 pt-8 pb-12 text-white leading-none flex flex-col min-h-20;

    &__tag {
        @apply uppercase text-sm block mb-1;
    }

    &__title {
        @apply font-bold mb-8;
        @apply text-4xl;
        
    }

    &__text,
    p {
        @apply text-xl leading-tight;
    }

    &__title,
    &__text,
    p {
        @apply max-w-md;
    }

    &__link {
        @apply mt-auto ml-auto text-3xl; 
        @apply block !important;
    }

    p + p {
        @apply mt-2;
    }

    p:last-of-type {
        @apply mb-6;
    }

    &__title,
    &__text,
    p {
        @apply max-w-xs;
    }
}

@screen sm {
    .no-gutter-cell {
        @apply w-1/2;

        &__title,
        &__text,
        p {
            @apply max-w-full;
        }
    }
}

@screen lg {
    .no-gutter-cell {
        @apply w-1/3;

        &__title {
            font-size: 2.5vw;
        }
    }
}

@screen xl {
    .no-gutter-cell {
        @apply min-h-30 w-1/4;
    }
}

@screen wd {
    .no-gutter-cell {
        @apply px-16;

        &__text,
        p {
            @apply text-2xl mr-0;
        }
    }
}

/* Variations. */
.no-gutter-cell {
    &--advert {
        &__text,
        p {
            @apply text-2xl leading-tight mb-12 mr-12 font-normal max-w-full;

            a {
                @apply underline;

                &:hover {
                    @apply no-underline;
                }
            }
        }

        &__link {
            @apply underline;

            &:hover {
                @apply no-underline;
            }
        }
    }

    &--news {
        @apply bg-center relative;

        &:before {
            @apply absolute bottom-0 left-0 w-full h-full z-10 block;
            content: '';
            background-blend-mode: multiply;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 100%);
        }

        &:hover {
            background-size: 200%;

            &:before {
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
            }
        }

        * {
            @apply z-20 relative;
        }

        &__text,
        p {
            @apply text-lg;
        }

        &__link {
            .icon {
                @apply text-3xl !important;
            }
        }
    }
}

@screen lg {
    .no-gutter-cell {
        &--advert {
            &__text,
            p {
                @apply text-3xl mr-0;
            }
        }
    }
}