.button {
    @apply px-8 pt-3 pb-4 text-center font-medium no-underline leading-none transition-bg transition-100;
}

@screen lg {
    .button {
        @apply px-16 py-5;
    }
}

.button--small {
    @apply px-8 pt-3 pb-4;
}

.button--rounded {
    @apply rounded;
}

.button--icon {
    @apply inline-flex;

    &__text {
        @apply mr-4;
    }

    &__icon {
        @apply flex-grow-0 ml-auto;
    }
}

@variants hover {
    .button--cool-blue {
        background-color: var(--cool-blue);
        color: var(--white);
    }

    .button--black {
        background-color: var(--black);
        color: var(--white);
    }

    .button--slate-grey {
        background-color: var(--slate-grey);
        color: var(--white);
    }

    .button--white {
        background-color: var(--white);
        color: var(--cool-blue);
    }
}