.banner-image {
    @include outer-container;
    background-color: #4A4A4A;
    color: white;
    a {
        color: white;
    }
    figure {
        margin: 0;
        position: relative;
        figcaption {
            background: rgba(0,0,0,0.25);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            padding-left: 25%;
            padding-right: 25%;
            padding-top: 4.4em;
            font-size: 2.475em;
            font-weight: 500;
            text-align: center;

        }
    }
    p {
        @include shift(2);
        @include span-columns(8);
    }
}
