.bubble-navigation {    
    padding-left: 1em;
    padding-right: 1em;
    height: 3px;
    margin-top: 100px;
    @include filter(grayscale(20%));

    ul {
        list-style-type: none;
    }
    li:first-child {
        @include shift(2 of 11);
        @include media($clinical) {
            @include shift(0);    
        }
        @include media($transient) {
            @include shift(0);    
        }
    }
    li {
        display: inline;
        width: 100%;
        @include span-columns(1 of 11);
        @include media($clinical) {
            @include span-columns(1 of 7);    
        }
        @include media($transient) {
            @include span-columns(1 of 7);    
        }
    }
}

.bubble-navigation[data-section=people]{    
    background-color: $people-green;
    .bubble {
        border: 3px solid $people-green;
    }
}

.bubble-navigation[data-section=work]{    
    background-color: $blog-red;
    .bubble {
        border: 3px solid $blog-red;
    }
}

.bubble {
    border-radius: 50%;
    background-size: cover;
    width: 100%;
    @include calc(padding-top, "100% - 6px");
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
    @include filter(grayscale(60%));
    
    p {
	    position: absolute;
	    top: -2em;
	    overflow: show;
	    white-space: nowrap;
	    width: 400%;
	    margin-left: -150%;
	    text-align: center;
	    opacity: 0;
        height: 0em;
        @include transition-property(opacity);
        @include transition-duration(0.2s);
        @include transition-timing-function(ease-in);
        @include transition-delay(0.2s); 
	}
}
.bubble:hover {
    @include animation(growBubble 0.2s ease-in);
    @include animation-fill-mode(forwards);
    p {
        opacity: 100;
        height: 1em;
    }
}

@include keyframes(growBubble) {
  from {
    @include transform(scale(1, 1) translateY(-50%));
  }
  to {
    @include transform(scale(1.2, 1.2) translateY(-42%));
    @include filter(grayscale(0%));
  }
}

.section-people + footer {
    margin-top: 0;
}

.section-work + footer {
    margin-top: 0;
}


