.case-study-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
    .case-study {
        min-width: 200px;
        max-width: 300px;
        width: 20%;
        margin: 2%;
        .case-study-image {
            border-radius: 50%;
        }
    }
}

.case-study {
    padding: 0.5em;
    .case-study-image {
        width: 100%;
        padding-top: 100%;
        background-size: cover;
    }
    .case-study-description {
        margin-top: 1em;
        a {
            text-decoration: none;
        }
        h4 {
            @include section_colour('color');
            font-weight: 500;
        }
    }
}

.services-list {
    @extend .case-study-list;
    margin-top: 0;
    .case-study {
        h3 {
            /*font-weight: 800;*/
            margin-bottom: 2em;
            padding-bottom: 0.5em;
            /*@include section_colour('border-color');*/
            /*border-bottom: 5px solid;*/
        }
    }
}
