.case-study-list {
    @include span-columns(12 of 12);
    @include shift(0);
    @include media($serendipity) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    @include media($clinical) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
    @include clearfix;
    position: relative;
    @include side-margins;
    .case-study {
        .case-study-image {
            border-radius: 50%;
        }
    }
}

.case-study {
    @include span-columns(3 of 12);
    @include omega(4n);
    @include pad(0 0 0 6%);
    @include media($serendipity) {
        @include span-columns(6 of 12);
        @include omega(2n);
    }
    @include media($transient) {
        @include span-columns(12 of 12);
        @include omega();
    }
    margin-top: 2em;
    .case-study-image {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 100%;
        @include media($serendipity) {
            width: 80%;
            padding-top: 80%;
        }

        @include media($transient) {
            width: 60%;
            padding-top: 60%;
        }
        background-size: cover;
    }
    .case-study-description {
        margin-top: 1em;
        a {
            text-decoration: none;
        }
    }

    h3 {
        min-height: 5em;
    }
}

.services-list {
    @extend .case-study-list;
    margin-top: 0;
    .case-study {
        h3 {
            /*font-weight: 800;*/
            padding-bottom: 0.5em;
            /*@include section_colour('border-color');*/
            /*border-bottom: 5px solid;*/
        }
    }
}
