
.footer {
    $table-footer: new-breakpoint(min-width $large-screen);
    $compact-footer: new-breakpoint(max-width $small-screen);

    margin-top: em(100);
    padding-top: em(12);
    background: url('/images/footer-pattern.png');
    background-size: cover;
    line-height: 1.4em;

    @include media($compact-footer) {
        margin-top: em(40);
    }

    .footer-outer {
        padding-bottom: em(50);
        @include media($compact-footer) {
            padding-bottom: em(20);
        }
    }

    #footer-address {
        @include side-margins;
        @include media($compact-footer) {
            background: url('/images/footer-small.png');
        }
    }

    #footer-outer-social {
        @include media($clinical) {
            background: #4D4D4D;
            padding-top: em(20);
        }
    }

    .footer-content {
        @include media($table-footer) {
            @include span-columns(10);
            @include shift(1);
        }

        letter-spacing: em(1);
        color: $lighter-gray;

        p.heading {
            color: white;
            margin-bottom: em(10);
            font-weight: 500;
        }

        .cell {

            @include media($table-footer) {
                @include span-columns(4);
                @include omega(3n);
            }

        }

        .cell > address {
            font-style: normal;
            padding-top: em(14);
        }

        #footer-phone {
            border-top: 1px solid $lighter-gray;
        }

        #footer-physical {
            border-top: 1px solid $lighter-gray;
            @include media($compact-footer) {
                border-top: none;
            }
        }
        #footer-postal {
            border-top: 1px solid $lighter-gray;
            @include media($compact-footer) {
                border-top: none;
            }
        }


        #footer-logo {
            height: em(30);
            float: left;
            img {
                max-height: 100%;
                max-width: 100%;
            }

        }

        #footer-totop {
            padding-top: em(10);
            float: right;
            text-align: right;
            a {
                text-decoration: none;
            }
        }

        .cell.social {
            @include media($table-footer) {
                @include shift(8);
            }
        }

        .cell.social p {
            color: white;
            @include side-margins;
        }

        .cell.social > div {
            border-top: 1px solid white;
            padding-top: em(13);
        }

        .cell.social > div > p > a {
            padding-right: em(15);
        }

    }

    #footer-row-logo {
        margin-top: em(60);
        @include media($compact-footer) {
            margin-top: em(12);
        }
        overflow: hidden;
    }
    #footer-row-contact {
        margin-top: em(20);
    }

    .footer-content a {
            color: $lighter-gray;
    }

    .footer-content a:hover {
        color: lighten($lighter-gray, 20);
    }


}