@charset "utf-8";

.banner { 
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0;
    color: white;
    a {
        color: white;
    }
}

.dark-screen {
    opacity: 0.7;
}

.medium-screen {
    opacity: 0.5;
}

.caption {
    text-align: left;
    font-size: 0.8em;
    color: #AAAAAA;
    margin-left: 0.5em;
    margin-top: 0.2em;
    line-height: normal; 
    a {
        color: #AAAAAA;
        text-decoration: none;
    }
}

.banner-background {
    position: absolute;
    background-image: url("/resources/rear/port-napier.jpg");
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner .container {
    opacity: 0.9;
    text-align: center;
    color: #ffffff;
}

.banner .container .content h1 {
    padding: 0;
    padding-top: 1em;
    background: none;
    font-size: 7.7vw;
    color: #ffffff;
    @include media($highbury-fling) {
        padding-top: 0;
        font-size: 19vw;
    }
    
}

.banner .container .content p {
    font-size: 2em;
    @include media($transient) {
        font-size: 8vw;
    }

}


.index-banner {
    background-size: cover;
    position: relative;
    min-height: 40vw;
    color: white;
    padding-bottom: $base-line-height;
    
    &.short-banner {
        min-height: initial;
    }

    p {
        font-size: 1.2em;
    }
    
    blockquote {
        color: white;
        font-size: 2em;
        font-weight: bold;
        border-left: none;
        font-style: italic;
        padding-left: 0;
        
        p {
            margin-bottom: 0;
        }
        cite {
            color: white;
            font-size: 0.7em;
            font-style: normal;
            font-weight: normal;
        }
    }
    
    .exit {
        text-align: right;
    }
    a {
        color: white;
    }

}

.index-case-study {
    padding-top: 20%;
    background-image: url('/work/2015-03-02-paua-logger-case-study/dave-and-jules.jpg');
}

.index-resources {
    background-image: url("/resources/protected-species-captures/white-capped-albatross.jpg");
    h1 {
        color: white;
        font-size: $font-size-large; 
    }
}

.index-section {
    padding-bottom: 2em;
    clear: both;
}

.index-heading {
    padding-top: 1.5em;
    h1 {
        font-size: $font-size-large; 
    }
    .overline {
        border-top: 5px solid $data-purple;
        &#work-overline {
            border-color: $wing-flash-blue;
        }
        &#about-overline {
            border-color: $people-green;
        }
        &#publications-overline {
            border-color: $publications-orange;
        }
        &#data-overline {
            border-color: $data-purple;
        }
        &#stories-overline {
            border-color: $blog-red;
        }
    }
}

.index-resources .content-resources {
    @include span-columns(5 of 12);
    @include shift(3);
    @include media($clinical) {
      @include span-columns(10 of 12);
      @include shift(1);
    }
    @include clearfix;
    margin-top: $base-line-height;
    position: relative;
    @include side-margins;
}

.index-journal-list {
    width: 100%;
    .journal-logo {
        width: 20%;
        display: inline-block;
        margin: 1em;
        img {
            width: 100%;
        }
    }
}

.index-link {
    display: inline-block;
    float: right;
    border-bottom: 5px solid $medium-gray;
    padding: 1em;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 1em;
    &:hover {
        text-decoration: none;
    }
    &::after {
        content: "▶";
        padding-left: 1em;
    }
    span {
    }
    #publications-section & {
        border-bottom: 5px solid $publications-orange;
    }
    #work-section & {
        border-bottom: 5px solid $wing-flash-blue;
    }
    #about-section & {
        border-bottom: 5px solid $people-green;
    }
    #publications-section & {
        border-bottom: 5px solid $publications-orange;
    }
    #resources-section & {
        border-bottom: 5px solid $data-purple;
    }
    #news-section & {
        border-bottom: 5px solid $blog-red;
    }
}