.banner {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0;
}
.banner-background {
    position: absolute;
    background-image: url(/images/pattern.svg);
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.banner .container {
    opacity: 0.9;
    text-align: center;
    color: #ffffff;
}

.banner .container .content h1 {
    padding: 0;
    background: none;
    font-size: 6em;
    color: #ffffff;
    
}

.banner .container .content p {
    font-size: 2em;

}

