.banner { 
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    margin: 0;
}

.banner-background {
    position: absolute;
    background-image: url(/images/jewel-wing.png);
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.banner .container {
    opacity: 0.9;
    text-align: center;
    color: #ffffff;
}

.banner .container .content h1 {
    padding: 0;
    padding-top: 1em;
    background: none;
    font-size: 7.7vw;
    color: #ffffff;
    @include media($highbury-fling) {
        padding-top: 0;
        font-size: 19vw;
    }
    
}

.banner .container .content p {
    font-size: 2em;
    @include media($transient) {
        font-size: 8vw;
    }

}

.banner .container a button {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    padding: 0;
}
