
/* ensure that html5 elements are displayed */
main {display: block;}
section {display: block;}
address {display: block;}
header {display: block;}
footer {display: block;}
nav {display: block;}

h1 {
  @include media($clinical){
    font-size: $font-size-h1-clinical;
  }
  @include media($transient){
    font-size: $font-size-h1-transient;
  }
}

main {
    margin-top: $responsive-navigation-height;
    //@include media($clinical) {
    //  margin-top: $responsive-navigation-height-clinical;
    //}
}

.container {
    @include outer-container;
}


.sidebar {
    @include span-columns(2 of 12);
    @include side-margins;
    @include content-left-padding;
    @include media($clinical) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
    margin-top: $base-line-height;
}

.content {
    @include span-columns(8 of 12);
    @include media($clinical) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
    @include clearfix;
    margin-top: $base-line-height;
    position: relative;
    @include side-margins;
}

.wide {
    @include span-columns(10 of 12);
    @include shift(1);
    @include media($clinical) {
      @include span-columns(12 of 12);
      @include shift(0);
    }
    @include clearfix;
    margin-top: $base-line-height;
    position: relative;
    @include side-margins;
}

