
/* ensure that html5 elements are displayed */
main {display: block;}
section {display: block;}
address {display: block;}
header {display: block;}
footer {display: block;}
nav {display: block;}

main {
    margin-top: $responsive-navigation-height;
    @include media($serendipity) {
     margin-top: $responsive-navigation-height-serendipity;
    }
}

.container {
    @include outer-container;
}

.content-margin {
  margin-top: $base-line-height;
}

main > .container:first-of-type {
  padding-top: $base-line-height;
}

main > .container:last-of-type {
  padding-bottom: $base-line-height;
}

.side-margins {
    @include side-margins;
}

.sidebar {
    @include span-columns(2 of 12);
    @include shift(1);
    @include media($clinical) {
      @include content-left-padding;
      @include span-columns(12 of 12);
      @include shift(0);
    }
}

.content {
    @include span-columns(8 of 12);
    @include clearfix;
    position: relative;
    @include media($clinical) {
      @include side-margins;
      @include span-columns(12 of 12);
      @include shift(0);
    }
    &.no-sidebar {
        @include shift(1);
    }
}

.wide {
    @include span-columns(10 of 12);
    @include shift(1);
    @include clearfix;
    position: relative;
    @include media($clinical) {
      @include side-margins;
      @include span-columns(12 of 12);
      @include shift(0);
    }
}

.narrow {
    @include span-columns(8 of 12);
    @include shift(2);
    @include clearfix;
    position: relative;
    @include media($clinical) {
      @include side-margins;
      @include span-columns(12 of 12);
      @include shift(0);
    }
}

h1 {
  font-size: $font-size-h1;
  @include media($clinical){
    font-size: $font-size-h1-clinical;
  }
  @include media($transient){
    font-size: $font-size-h1-transient;
  }
}

h2 {
  font-size: $font-size-h2;
  @include media($clinical){
    font-size: $font-size-h2-clinical;
  }
  @include media($transient){
    font-size: $font-size-h2-transient;
  }
}

h3 {
  font-size: $font-size-h3;
  @include media($clinical){
    font-size: $font-size-h3-clinical;
  }
  @include media($transient){
    font-size: $font-size-h3-transient;
  }
}

h4 {
  font-size: $font-size-h4;
  @include media($clinical){
    font-size: $font-size-h4-clinical;
  }
  @include media($transient){
    font-size: $font-size-h4-transient;
  }
}

h5 {
  font-size: $font-size-h5;
  @include media($clinical){
    font-size: $font-size-h5-clinical;
  }
  @include media($transient){
    font-size: $font-size-h5-transient;
  }
}

h6 {
  font-size: $font-size-h6;
  @include media($clinical){
    font-size: $font-size-h6-clinical;
  }
  @include media($transient){
    font-size: $font-size-h6-transient;
  }
}

