
/* ensure that html5 elements are displayed */
main {display: block;}
address {display: block;}
header {display: block;}
footer {display: block;}
nav {display: block;}

h1 {
  @include media($clinical){
    font-size: $font-size-h1-clinical;
  }
  @include media($transient){
    font-size: $font-size-h1-transient;
  }
}

main {
    margin-top: em(82);
    @include media($transient) {
      margin-top: em(67);  // these margins come from values in _menu.scss
    }
}

.container {
    @include outer-container;
}

.content {
    @include media($clinical-up) {
      @include span-columns(8);
      @include shift(2);
    }
    @include clearfix;
    margin-top: $base-line-height;
    position: relative;
    @include media($clinical) {
      margin-left: $content-margin-clinical;
      margin-right: $content-margin-clinical;
    }
    @include media($transient) {
      margin: 0.5em $content-margin-transient;
    }
}


