$responsive-navigation-height: em(82);
$responsive-navigation-height-compact: em(67);
.responsive-navigation {
    $responsive-navigation-padding: 1em;
    $responsive-navigation-logo-height: em(44);
    $responsive-navigation-logo-width: em(207);
    $responsive-navigation-logo-bottom: 1.82em;
    $responsive-navigation-background: #FFFFFF;
    $responsive-navigation-color: transparentize($base-font-color, 0.3);
    $responsive-navigation-color-hover: $base-font-color;
    $responsive-navigation-item-padding: 0.5em;
    $responsive-navigation-item-nudge: 0em;
    $responsive-navigation-text-offset: 0.55em;
    $mobile-logo-height: em(27);
    $horizontal-mode: em(860);  // Desktop menu
    $compact-mode: $transient;  // Small logo with colored background

    background-color: $responsive-navigation-background;
    height: $responsive-navigation-height;
    width: 100%;
    position: fixed;
    top:  0px;
    z-index: 9999;
    padding-left: 0;

    a {
        text-decoration: none;
    }

    // Responsive views
    @include media($horizontal-mode) {
        border-bottom: 1px solid $thin-gray;
    }

    @include media($compact-mode) {
        height: $responsive-navigation-height-compact;
        padding: 0 0;
        border: none;
    }

    .logo {
        height: $responsive-navigation-height + $heavy-underline - em(1); /* HACK - not sure why this 1 px is needed - may fail in other contexts */
        width: $responsive-navigation-logo-width;
        position: fixed;
        background: url('/images/dragonfly-logo-rgb.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1000;
        border-bottom: $heavy-underline solid rgba(255, 255, 255, 0);
        @include media($transient) {
            height: $responsive-navigation-height-compact - 1em;
            width: 4em;
            border: none;
            background: url('/images/dragonfly-wing-only-white.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            float: left;
            top: 0.5em;
        }
    }

    .contact-text {
        @include media($horizontal-mode) {
            display: none;
        }
        font-size: $base-font-size * 0.875;
        color: white;
        letter-spacing: 0.78;
        padding-top: em(46);
        padding-bottom: em(56);
        line-height: em(28);
        text-align: left;
    }

    .responsive-navigation-menu-button {
        display: block;
        color: $responsive-navigation-color;
        float: right;
        margin: 0;
        margin-right: $content-margin-clinical;
        @include media($transient) {
            margin-right: $content-margin-transient;
        }
        padding: 1.5em 0;
        @include media ($horizontal-mode) {
            display: none;
        }

        &:hover {
            color: $responsive-navigation-color-hover;
        }

        span.icon-bar {
            border-bottom: 3px solid $base-heading-color;
            display: block;
            padding: 0.3em 1em 0 1em;
        }
    }

    .responsive-navigation-wrapper[data-section=people] span.icon-bar {
        border-bottom: 3px solid $people-green;
        @include media($transient) {
            border-bottom: 3px solid white;
        }
    }
    .responsive-navigation-wrapper[data-section=blog] span.icon-bar {
        border-bottom: 3px solid $blog-red;
        @include media($transient) {
            border-bottom: 3px solid white;
        }
    }
    .responsive-navigation-wrapper[data-section=publications] span.icon-bar {
        border-bottom: 3px solid $publications-orange;
        @include media($transient) {
            border-bottom: 3px solid white;
        }
    }
    .responsive-navigation-wrapper[data-section=data] span.icon-bar {
        border-bottom: 3px solid $data-purple;
        @include media($transient) {
            border-bottom: 3px solid white;
        }
    }

    // Nav menu

    .responsive-navigation-wrapper {
        @include clearfix;
        position: relative;
        z-index: 999;
        height: 100%;
        @include content-left-padding;
        @include transition(height 0.4s, background 0.4s);
    }
    @include media($compact-mode) {
        .responsive-navigation-wrapper[data-section=data] {
            background: $data-purple;
        }
        .responsive-navigation-wrapper[data-section=blog] {
            background: $blog-red;
        }
        .responsive-navigation-wrapper[data-section=publications] {
            background: $publications-orange;
        }
        .responsive-navigation-wrapper[data-section=people] {
            background: $people-green;
        }
    }

    .responsive-navigation-wrapper[data-mode=open] {
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10001;
        background-color: $base-heading-color;
        ul.responsive-navigation-menu {
            display: block;
        }
        @include media($compact-mode) {
            @include linear-gradient(-179deg, #3F8DB3 0%, #1A9E86 88%);
        }
    }

    .responsive-navigation-wrapper[data-mode=open][data-section=people] {
        background-color: $people-green;
        @include media($compact-mode) {
            background-color: none;
        }
    }
    .responsive-navigation-wrapper[data-mode=open][data-section=blog] {
        background-color: $blog-red;
        @include media($compact-mode) {
            background-color: none;
        }
    }
    .responsive-navigation-wrapper[data-mode=open][data-section=publications] {
        background-color: $publications-orange;
        @include media($compact-mode) {
            background-color: none;
        }
    }
    .responsive-navigation-wrapper[data-mode=open][data-section=data] {
        background-color: $data-purple;
        @include media($compact-mode) {
            background-color: none;
        }
    }

    ul.responsive-navigation-menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        clear: both;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        padding-top: 2em;
        width: 100%;
        z-index: 99999;
        display: none;

        @include media ($horizontal-mode) {
            display: block;
            text-align: center;
            padding-left: $responsive-navigation-logo-width;
            padding-top: 0;
        }
    }

    // The nav items

    .nav-link:first-child {
        margin-left: 0;
        @include media($horizontal-mode) {
            margin-left: $responsive-navigation-item-nudge;
        }
    }

    ul li.nav-link {
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        z-index: 9999;
        background: transparent;
        display: inherit;
        text-align: left;

        a {
            color: white;
        }

        @include media($horizontal-mode) {
            display: inline;
            padding-bottom: $responsive-navigation-text-offset * 2;
            padding-right: $responsive-navigation-item-padding * 2;
            padding-left: $responsive-navigation-item-padding * 2;
            line-height: $responsive-navigation-height;
            text-align: center;
            border-bottom: 4px solid rgba(255, 255, 255, 0);

            a {
                color: $responsive-navigation-color;
                padding-right: $responsive-navigation-item-padding;
                padding-left: $responsive-navigation-item-padding;
                margin-top: $responsive-navigation-text-offset;
                height: $responsive-navigation-height - $responsive-navigation-text-offset;

                padding-right: 0;
                padding-left: 0;

                display: inline-block;
                &:hover {
                    color: $responsive-navigation-color-hover;
                }
            }
        }
    }

    .responsive-navigation-wrapper[data-section=data] > a.logo {
        border-bottom: $heavy-underline solid $data-purple;
        @include media($compact-mode) {
            border-bottom: none;
        }
    }

    .responsive-navigation-wrapper[data-section=blog] > a.logo {
        border-bottom: $heavy-underline solid $blog-red;
        @include media($compact-mode) {
            border-bottom: none;
        }
    }

    .responsive-navigation-wrapper[data-section=publications] > a.logo {
        border-bottom: $heavy-underline solid $publications-orange;
        @include media($compact-mode) {
            border-bottom: none;
        }
    }

    .responsive-navigation-wrapper[data-section=people] > a.logo {
        border-bottom: $heavy-underline solid $people-green;
        @include media($compact-mode) {
            border-bottom: none;
        }
    }

    @include media($horizontal-mode) {
        .responsive-navigation-wrapper[data-section=people] li.nav-link[data-section=people] {
            border-bottom: 4px solid $people-green;
        }

        .responsive-navigation-wrapper[data-section=blog] li.nav-link[data-section=blog] {
            border-bottom: 4px solid $blog-red;
        }

        .responsive-navigation-wrapper[data-section=publications] li.nav-link[data-section=publications] {
            border-bottom: 4px solid $publications-orange;
        }

        .responsive-navigation-wrapper[data-section=data] li.nav-link[data-section=data]  {
            border-bottom: 4px solid $data-purple;
        }
    }
}

// Not really sure where to put this ...
h1.title {
    @include media($transient) {
        position: absolute;
        left: 0;
        right: 0;
        top: -3.2em;
        text-align: center;
        color: white;
        z-index: 10000;
        font-size: em(24);
        font-weight: 500;
        letter-spacing: em(0.71);
        pointer-events: none;
    }
}

