$centered-navigation-height: em(82);
.centered-navigation {
    $centered-navigation-padding: 1em;
    $centered-navigation-logo-height: em(44);
    $centered-navigation-logo-width: em(207);
    $centered-navigation-logo-bottom: 1.82em;
    $centered-navigation-background: #FFFFFF;
    $centered-navigation-color: transparentize($base-font-color, 0.3);
    $centered-navigation-color-hover: $base-font-color;
    $centered-navigation-height-dropdown: em(67);
    $centered-navigation-item-padding: 0.5em;
    $centered-navigation-item-nudge: 0em;
    $centered-navigation-text-offset: 0.55em;
    $mobile-logo-height: em(27);
    $dropacross-mode: $clinical;
    $dropdown-mode: $transient;

    background-color: $centered-navigation-background;
    height: $centered-navigation-height;
    width: 100%;
    position: fixed;
    top:  0px;
    z-index: 9999;
    border-bottom: 1px solid $thin-gray;
    padding-left: $content-margin;

    a {
        text-decoration: none;
    }

    // Responsive views
    @include media($clinical) {
        padding-left: $content-margin-clinical;
    }

    @include media($transient) {
        height: $centered-navigation-height-dropdown;
        padding: 0 0;
    }
    

    .mobile-logo {
        display: none;
        float: left;
        max-height: $centered-navigation-height;
        padding-left: $centered-navigation-padding;
        img {
            height: $mobile-logo-height;
            margin-top: ($centered-navigation-height-dropdown - $mobile-logo-height) * 0.5;
        }
        @include media($dropacross-mode) {
            display: inline;
        }
    }
    .mobile-only {
        display: none;
        @include media($dropacross-mode) {
            display: block;
        }
    }

    .mobile-text {
        display: none;
        font-size: $base-font-size * 0.875;
        color: white;
        letter-spacing: 0.78;
        padding-left: $centered-navigation-item-padding * 3;
        padding-top: em(46);
        padding-bottom: em(56);
        line-height: em(28);
    }

    .centered-navigation-menu-button {
        display: none;
        color: $centered-navigation-color;
        float: right;
        margin: 0;
        padding: 1.5em 1em;
        @include media ($dropacross-mode) {
            display: block;
        }

        &:hover {
            color: $centered-navigation-color-hover;
        }

        span.icon-bar {
            display: block;
            width: em(22);
            height: em(2);
            border-radius: em(1);
            background-color: white;
            margin-top: em(4);
        }
    }

    // Nav menu

    .centered-navigation-wrapper {
        @include outer-container;
        @include clearfix;
        position: relative;
        z-index: 999;
        height: 100%;
        @include transition(height 0.4s, background 0.4s);
    }
    @include media($dropdown-mode) {
        .centered-navigation-wrapper[data-section=open] {
            height: 100vh;
            z-index: 10001;
            @include linear-gradient(-179deg, #3F8DB3 0%, #1A9E86 88%);
            .mobile-logo {
                display: none;
            }
            .mobile-text {
                display: block;
            }
        }
        .centered-navigation-wrapper[data-section=data] {
            background: $data-purple;
        }
        .centered-navigation-wrapper[data-section=blog] {
            background: $blog-red;
        }
        .centered-navigation-wrapper[data-section=publications] {
            background: $publications-orange;
        }
        .centered-navigation-wrapper[data-section=people] {
            background: $people-green;
        }
    }

    ul.centered-navigation-menu {
        -webkit-transform-style: preserve-3d; // stop webkit flicker
        clear: both;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        padding-left: $centered-navigation-logo-width;
        width: 100%;
        z-index: 99999;
        display: block;
        text-align: center;

        @include media ($dropacross-mode) {
            display: none;
        }
    }

    // The nav items

    .nav-link:first-child {
        margin-left: $centered-navigation-item-nudge;
        @include media($dropacross-mode) {
            margin-left: 0
        }
    }

    ul li.nav-link {
        display: inline;
        overflow: hidden;
        padding-bottom: $centered-navigation-text-offset * 2;
        padding-right: $centered-navigation-item-padding;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        z-index: 9999;
        background: transparent;
        line-height: $centered-navigation-height;
        text-align: right;

        a {
            color: $centered-navigation-color;
            padding-right: $centered-navigation-item-padding; 
            padding-left: $centered-navigation-item-padding; 
            margin-top: $centered-navigation-text-offset;
            height: $centered-navigation-height - $centered-navigation-text-offset;
            
            @include media($serendipity) {
                padding-right: 0;
                padding-left: 0;
            }
        }
        
        @include media($dropacross-mode) {
            padding-right: 0;
            display: block;
        }

        @include media($dropdown-mode) {
            padding-left: $centered-navigation-item-padding * 3;
            a {
                color: white;
                font-size: $base-font-size * 1.125;
            }
        }

        a {
            display: inline-block;


            &:hover {
                color: $centered-navigation-color-hover;
            }
        }
    }

    .logo {
        height: $centered-navigation-height + $heavy-underline - em(1); /* HACK - not sure why this 1 px is needed - may fail in other contexts */
        width: $centered-navigation-logo-width;
        position: absolute;
        left: 0;
        background: url('/images/dragonfly-logo-rgb.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1000;
        @include media($transient) {
            display: none;
        }
    }

    .centered-navigation-wrapper[data-section=data] > a.logo {
        border-bottom: $heavy-underline solid $data-purple;
    }

    .centered-navigation-wrapper[data-section=blog] > a.logo {
        border-bottom: $heavy-underline solid $blog-red;
    }

    .centered-navigation-wrapper[data-section=publications] > a.logo {
        border-bottom: $heavy-underline solid $publications-orange;
    }

    .centered-navigation-wrapper[data-section=people] > a.logo {
        border-bottom: $heavy-underline solid $people-green;
    }

    @mixin small-plain-a {
        @include media($transient) {
            border: none;
        }
    }

    .centered-navigation-wrapper[data-section=people] > ul > li.nav-link[data-section=people] {
        border-bottom: 4px solid $people-green;
        @include small-plain-a;
    }

    .centered-navigation-wrapper[data-section=blog] > ul > li.nav-link[data-section=blog] {
        border-bottom: 4px solid $blog-red;
        @include small-plain-a;
    }

    .centered-navigation-wrapper[data-section=publications] > ul > li.nav-link[data-section=publications] {
        border-bottom: 4px solid $publications-orange;
        @include small-plain-a;
    }

    .centered-navigation-wrapper[data-section=data] > ul > li.nav-link[data-section=data]  {
        border-bottom: 4px solid $data-purple;
        @include small-plain-a;
    }
}

// Not really sure where to put this ...
h1.title {
    @include media($transient) {
        position: absolute;
        left: 0;
        right: 0;
        top: -3.2em;
        text-align: center;
        color: white;
        z-index: 10000;
        font-size: em(24);
        font-weight: 500;
        letter-spacing: em(0.71);
        pointer-events: none;
    }
}

