.section-data {

    $section-color: $data-purple;
    $title-color: #4A4A4A;
    $title-size: 22px;
    $date-color: #808080;
    $date-font-size: 16px;
    $line-height: 1.45em;
    $text-top-padding: 1em;
    $highlight-text-bottom-padding: 2em;
    $border-color: #E7E7E7;
    $no-pictures-break: em(800);
    $external-link-icon: "/images/external-link-icon.png";
    $figure-bump: -3.5em;

    .content {
        @include shift(0);
        @include span-columns(12 of 12);

        .level1 {
            @include shift(1);
            @include span-columns(10 of 12);

            p {
                padding-top: $text-top-padding;
            }
        }
        .feature-text > p:nth-child(2) {
            color: $section-color;
            a {
                color: $section-color;
            }
        }

        .level1 > p:nth-child(3) {
            padding-bottom: $highlight-text-bottom-padding;
        }

        .level2 {
            @include shift(1);
            @include span-columns(10 of 12);

            @include media($transient) {
                @include shift(0);
                @include span-columns(12 of 12);
            }

            border-bottom: 1px solid $border-color;

            h2 {
                @include span-columns(7 of 10);
                font-size: 1em;
                margin-top: 1em;

                a {
                    color: $title-color;
                    font-size: $title-size;
                    background-image: url($external-link-icon);
                    background-repeat: no-repeat;
                    background-position: right center;
                    padding-right: 1.5em;
                }
            }


            p {
                @include span-columns(7 of 10);
                @media screen and (max-width: $no-pictures-break) {
                    @include span-columns(10 of 10);
                }
            }

            figure {
                @include span-columns(2 of 10);
                margin-top: $figure-bump;
                position: relative;
                img {
                    border-bottom: solid 6px $section-color;
                    @include filter(grayscale(20%));
                }
                @media screen and (max-width: $no-pictures-break) {
                    display: none;
                }
            }
        }
        .level2 > p:nth-child(2) {
            color: $date-color;
            font-size: $date-font-size;

        }
    }

}