.hero {
    position: relative;
    @include media($transient) {
        margin-top: 0;
    }
}

.hero h1 {
    position:absolute;
    bottom:10%;
    left: 0px;
    color: white;

    @include media($clinical) {
        position: static;
        background-color: transparent;
        color: $base-heading-color;
    }
}
