$porthole-top-margin-small: em(21);
$porthole-image-size: em(150);
$porthole-image-size-small: em(100);
$porthole-title-padding-bottom: 0.35em;
$porthole-title-padding-top: em(20);

@mixin grid_item($columns) {
    $span_columns: floor(12 / $columns);
    @include span-columns($span_columns);
    @include media($clinical-up) {
        @include omega(#{$columns}n);
    }
    @include media($clinical) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
    @include media($transient) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
}

.porthole-grid {
    @include media($transient) {
        width: 100%;
    }
    &.two-columns .porthole {
        @include grid_item(2);
    }
    &.three-columns .porthole {
        @include grid_item(3);
    }
    &.four-columns .porthole {
        @include grid_item(4);
    }
    &.six-columns .porthole {
        @include grid_item(6);
    }
}

.porthole {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
    a {
        text-decoration: none;
    }
    img {
        border-radius: 50%;
        width: $porthole-image-size;
        height: $porthole-image-size;
        margin-bottom: $porthole-title-padding-top;
    }
    h4 {
        @extend .highlight;
        padding-bottom: $porthole-title-padding-bottom;
    }
    h4 a {
        @extend .highlight;
    }
    p {
        text-align: left;
    }
    @include media($transient) {
        margin-top: $porthole-top-margin-small;
        img {
            width: $porthole-image-size-small;
            height: $porthole-image-size-small;
        }
        h4 {
            letter-spacing: em(1);
        }
    }
}

.porthole-heading {
    min-height: 5em;
}


