$post-image-size-small: em(100);

.post-list {
    @include outer-container;
    text-align: left;
    margin: 2em auto;
    @include media($transient) {
        width: 100%;
    }

    .post-wrapper {
        border-bottom: solid 1px #E7E7E7;
        overflow: hidden;
        padding-bottom: 1em;
        margin-bottom: 1em;
        @include media($transient) {
            /* this gives full width underlines ... */
            margin-left: -$content-margin-transient;
            padding-left: 2 * $content-margin-transient;
            margin-right: -$content-margin-transient;
            padding-right: 2 * $content-margin-transient;
            margin-bottom: 0.5em;
            padding-bottom: 0;
        }

        .citation-year h1 {
            margin-bottom: 0.5em;
        }
    }

    .post {
        @include media($clinical) {
            @include span-columns(8 of 8);
        }

        p.subheading {
            color: grey;
            @include media($transient) {
                padding-top: 0.5em;
            }
        }

        a, a h3 {
            text-decoration: none;
        }

        h3 {
            font-weight: 500;
        }

        .post-image {
            @include span-columns(2 of 8);
        }

        .post-porthole {
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;
            background-size: cover;
        }

        .post-teaser {
            @include span-columns(6 of 8);
        }

        @include media($transient) {
            a.read-more {
                display: none;
            }
            p.subheading {
                display: inherit;
            }
            img {
                width: $post-image-size-small;
                height: $post-image-size-small;
            }

        }
    }
}

.post-wrapper:last-child {
    border-bottom: none;
}
