.post-banner-image {
    background-size: cover;
    position: relative;
    top: -2em;
    min-height: 25vw;
    
    blockquote {
        color: white;
        font-size: 2em;
        font-weight: bold;
        border-left: none;
        font-style: italic;
        padding-left: 0;
        
        p {
            margin-bottom: 0;
        }
        cite {
            color: white;
            font-size: 0.7em;
            font-style: normal;
            font-weight: normal;
        }
    }
    h1, h2, h3, a {
        color: white;
    }

}
/* Puts a dark shade over the image to allow the writing to be read */
.post-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.post-detail {
$post-highlight-color: #808080;
$post-info-top-padding: 1em;
$wrap-images-width: em(950);

    .heading {
        border-bottom: 3px solid;
        @include colour('border-color');
        margin-bottom: 0.5em;
        .details {
            text-align: right;
            color: $medium-gray;
        }
    }

    .post-info {
        color: $post-highlight-color;
        text-align: right;
        img {
            max-height: 6em;
            @include filter(opacity(50%));
            @include media($clinical) {
                display: none;
            }
        }
    }

    .details-sidebar {
        @extend .right-coloured-border;
        @include media($transient) {
            border: none;
        }
        .download a {
            @include colour('color');
            font-weight: 500;
            i {
                display: block;
            }
        }
    }

    a {
        color: $post-highlight-color;
    }

    /* div.content > p:nth-child(1) {
        font-weight: 500;
        font-size: $base-font-size * 1.125;
        line-height: 1.2em;
    } */

    .content {

        figure {
            @media screen and (min-width: $wrap-images-width) {
                width: 50%;
                float: right;
            }
        }
    }
}
