.post-banner-image {
    background-size: cover;
    position: relative;
    min-height: 30vw;
    
    blockquote {
        color: white;
        font-size: 2em;
        font-weight: bold;
        border-left: none;
        font-style: italic;
        padding-left: 0;
        
        p {
            margin-bottom: 0;
        }
        cite {
            color: white;
            font-size: 0.7em;
            font-style: normal;
            font-weight: normal;
        }
    }

}
/* Puts a dark shade over the image to allow the writing to be read */
.post-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.post-detail {
$post-highlight-color: #808080;
$post-info-top-padding: 1em;
$wrap-images-width: em(950);

    .post-info {
        color: $post-highlight-color;
        text-align: right;
        img {
            max-height: 6em;
            @include filter(opacity(50%));
            @include media($clinical) {
                display: none;
            }
        }
    }

    a {
        color: $post-highlight-color;
    }

    /* div.content > p:nth-child(1) {
        font-weight: 500;
        font-size: $base-font-size * 1.125;
        line-height: 1.2em;
    } */

    .content {

        figure {
            @media screen and (min-width: $wrap-images-width) {
                width: 50%;
                float: right;
            }
        }
    }
}
