$post-grid-width: em(900);
$post-top-margin: em(80);
$post-top-margin-small: em(21);
$post-image-width: em(150);
$post-image-size-small: em(100);
$post-text-size: $base-font-size;
$post-title-padding-bottom: 0.35em;
$post-title-padding-top: em(20);
$read-more-text-color: #CF4547;

.post-list {
    @include span-columns(8 of 8);
    text-align: left;
    margin: 0 auto;
    font-size: $post-text-size;
    @include media($transient) {
        width: $small-screen;
        font-size: $base-font-size * 0.875;
    }

    .post-wrapper {
        border-bottom: solid 1px #E7E7E7;
        overflow: hidden;
        padding-bottom: 1em;
        margin-bottom: 1em;

    .postimage {
        @include span-columns(2 of 8);
        margin-right: 0;
        padding-top: 3em;
        img {
            margin: 0;
            padding: 0;
            border-bottom: solid 6px $blog-red;
        }
    }

    .post {
        @include span-columns(6 of 8);

        p.subheading {
            color: grey;
        }

        a.read-more {
            color: $read-more-text-color;
            text-decoration: underline;
        }

        @include media($transient) {
            margin-top: $post-top-margin-small;

            img {
                width: $post-image-size-small;
                height: $post-image-size-small;
            }

            h4 {
                font-size: $base-font-size;
                font-weight: 500;
                letter-spacing: em(1);
                width: em(110);
                margin: 0 auto;
            }
            a.read-more {
                display: none;
            }
        }
    }
}
}

