.coloured-border {
    .section-work &, #work-section & {
      border-color: $wing-flash-blue;
    }
    .section-about &, #about-section &, .section-people &, #people-section & {
      border-color: $people-green;
    }
    .section-publications &, #publications-section & {
      border-color: $publications-orange;
    }
    .section-data &, #data-section &, .section-resources &, #resources-section & {
      border-color: $data-purple;
    }
    .section-news &, #news-section &, .section-stories &, #stories-section & {
      border-color: $blog-red
    }
    .section-contact &, #contact-section & {
      border-color: $contact-gray;
    }  
}

.coloured-text {
    .section-work &, #work-section & {
      color: $wing-flash-blue;
    }
    .section-about &, #about-section &, .section-people &, #people-section & {
      color: $people-green;
    }
    .section-publications &, #publications-section & {
      color: $publications-orange;
    }
    .section-data &, #data-section &, .section-resources &, #resources-section & {
      color: $data-purple;
    }
    .section-news &, #news-section &, .section-stories &, #stories-section & {
      color: $blog-red
    }
    .section-contact &, #contact-section & {
      color: $contact-gray;
    }  
}

.coloured-background {
    .section-work &, #work-section & {
      background-color: $wing-flash-blue;
    }
    .section-about &, #about-section &, .section-people &, #people-section & {
      background-color: $people-green;
    }
    .section-publications &, #publications-section & {
      background-color: $publications-orange;
    }
    .section-data &, #data-section &, .section-resources &, #resources-section & {
      background-color: $data-purple;
    }
    .section-news &, #news-section &, .section-stories &, #stories-section & {
      background-color: $blog-red
    }
    .section-contact &, #contact-section & {
      background-color: $contact-gray;
    }  
}

.left-coloured-border {
    border-left: 5px solid $wing-flash-blue;
    @extend .coloured-border;
}
.right-coloured-border {
    border-right: 5px solid $wing-flash-blue;
    @extend .coloured-border;
}
.bottom-coloured-border {
    border-bottom: 5px solid $wing-flash-blue;
    @extend .coloured-border;
}
.overline {
    border-top: 5px solid $wing-flash-blue;
    @extend .coloured-border;
}

.right-then-bottom-coloured-border {
  border-right: 5px solid;
  @extend .coloured-border;
  @include media($clinical) {
    border-right: none;
    border-bottom: 5px solid;
  }
}

.highlight {
  font-weight: 500;
  @extend .coloured-text;
}