@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "menu";
@import "main";
@import "porthole-grid";
@import "footer";
@import "index";
@import "person-banner";
@import "post-list";
@import "post";
@import "biblio";
@import "bubble-navigation";
@import "refills";
@import "promo-block";
@import "case-studies";

p {
    line-height: $para-line-height;
}

div.page-title {
    padding-left: $content-margin;

    @include media($clinical) {
        padding-left: $content-margin-clinical;
    }

    h2 {
        padding-top: 0.5em;
        @include media($transient) {
            display: none;
        }

    }
}

.hide-heading {
    h1 {
        display: none;
    }
}

.full-screen {
    @include calc(min-height, "100vh - #{$responsive-navigation-height}");

    @include media($serendipity) {
        @include calc(min-height, "100vh - #{$responsive-navigation-height-serendipity}");
    }
}

li.year-2017 + li.year-2017 > div.citation-year { display: none; }
li.year-2016 + li.year-2016 > div.citation-year { display: none; }
li.year-2015 + li.year-2015 > div.citation-year { display: none; }
li.year-2014 + li.year-2014 > div.citation-year { display: none; }
li.year-2013 + li.year-2013 > div.citation-year { display: none; }
li.year-2012 + li.year-2012 > div.citation-year { display: none; }
li.year-2011 + li.year-2011 > div.citation-year { display: none; }
li.year-2010 + li.year-2010 > div.citation-year { display: none; }
li.year-2009 + li.year-2009 > div.citation-year { display: none; }
li.year-2008 + li.year-2008 > div.citation-year { display: none; }
li.year-2007 + li.year-2007 > div.citation-year { display: none; }
li.year-2006 + li.year-2006 > div.citation-year { display: none; }
li.year-2005 + li.year-2005 > div.citation-year { display: none; }
li.year-2004 + li.year-2004 > div.citation-year { display: none; }
li.year-2003 + li.year-2003 > div.citation-year { display: none; }
li.year-2002 + li.year-2002 > div.citation-year { display: none; }
li.year-2001 + li.year-2001 > div.citation-year { display: none; }
li.year-2000 + li.year-2000 > div.citation-year { display: none; }
li.year-1999 + li.year-1999 > div.citation-year { display: none; }
li.year-1998 + li.year-1998 > div.citation-year { display: none; }
li.year-1997 + li.year-1997 > div.citation-year { display: none; }
li.year-1996 + li.year-1996 > div.citation-year { display: none; }
li.year-1995 + li.year-1995 > div.citation-year { display: none; }
li.year-1994 + li.year-1994 > div.citation-year { display: none; }
li.year-1993 + li.year-1993 > div.citation-year { display: none; }
li.year-1992 + li.year-1992 > div.citation-year { display: none; }
