@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "menu";
@import "main";
@import "porthole-grid";
@import "footer";
@import "index";
@import "person-banner";
@import "post-list";
@import "banner-image";


div.page-title {
    padding-left: $content-margin;

    @include media($clinical) {
        padding-left: $content-margin-clinical;
    }

    h2 {
        padding-top: 0.5em;
        @include media($transient) {
            display: none;
        }

    }
}

// hack
#nocite > p,
#nocite .citation {
    display: none;
}

