/* Filtering as seen on publications etc. */
.filtering {
    @apply w-full px-6;
    &.open {
        .filtering__tools__links {
            max-height: 100vh;
        }
    }

    &__tools {
        @apply my-8 flex-grow flex flex-col;

        &__header {
            @apply flex flex-row;
        }

        &__links {
            @apply flex flex-col overflow-auto;
            @apply transition-max-height transition-ease-out-quart transition-500;

            max-height: 0;
        }
    }

    &__title {
        @apply text-cool-blue text-2xl flex-grow mb-4;
    }

    &__search {
        @apply bg-white my-auto py-1 pl-3 pr-3 flex justify-between flex-grow-0 max-w-full;
    
        &__input {
            @apply text-lg pr-3 flex-grow leading-none outline-none;
            max-width: 10rem;
        }

        &__button {
            @apply text-cool-blue text-2xl outline-none;
        }
    }

    &__tags {
        @apply mt-4;

        &:last-of-type {
            @apply mb-8;
        }

        &__title {
            @apply  mb-3 inline-block font-medium;
        }
    }

    &__count {
        @apply w-full text-lg mt-2 font-medium text-greyish-brown;
    }

    &__buttons {
        @apply flex-grow-0 flex-shrink-0 ml-4 flex justify-between flex-col;

        button {
            @apply outline-none !important;
            @apply transition-max-height transition-ease-out-quart;
        }
    }
}

@screen md {
    .filtering {
        &__tools {
            &__header {
                @apply flex-row;
            }

            &__links {
                @apply flex-row overflow-hidden;
            }
        }

        &__search {
            @apply max-w-1/2;
        
            &__input {
                @apply text-xl max-w-full;
            }
        }

        &__buttons {
            button {
            }
        }

        &__count {
            @apply text-xl;
        }
    }
}

@screen lg {
    .filtering {
        @apply px-24;
        /* > div {
            @apply px-0;
        } */

        &__search {
            @apply max-w-xs;
        }

        &__tools__links {
            @apply mr-32;
        }

        &__title {
            @apply text-4xl mb-0;
        }

        &__tags {
            @apply my-8;
        }
    }
}

@screen xl {
    /* .filtering {
        > div {
            @apply max-w-7xl mx-auto px-12;
        }
    } */
}

/* Variations. */
.filtering {
    &--full-width {
        .filtering__search {
            @apply max-w-full;
        }
    }
}

@screen lg {
    .filtering {
        &--full-width {
            .filtering__search {
                @apply max-w-1/2;
            }
        }
    }
}