/* list of tags as seen in publications. */
.tag-list {
    &__tag {
        @apply bg-white text-cool-blue text-lg font-medium;
        @apply mb-1 leading-none inline-block cursor-pointer;
        @apply transition-bg ease-out-quart;
        @apply no-underline !important;
        @apply text-sm px-4 pt-2;

        margin-right: 2px;
        padding-bottom: 10px;
        transform: translate3d(0, 0, 0);

        &:hover {
            @apply bg-white text-slate-grey;
        }

        &--article {
            @apply text-greeny-blue;

            &-active,
            &.tag-list__tag--active {
                @apply bg-greeny-blue text-white !important;
            }
        }

        &--presentation {
            @apply text-dark-peach;

            &-active,
            &.tag-list__tag--active {
                @apply bg-dark-peach text-white !important;
            }
        }

        &--report {
            @apply text-faded-purple;

            &-active,
            &.tag-list__tag--active {
                @apply bg-faded-purple text-white !important;
            }
        }

        &--active {
            @apply bg-cool-blue text-white !important;
        }

        &--disabled {
            @apply bg-white text-slate-grey opacity-25 pointer-events-none !important;
        }
    }

    /**
     * Modifiers
     * */
    &--publication-tile {
        .tag-list__tag {
            @apply hidden cursor-default pointer-events-none;

            &--report,
            &--presentation,
            &--article {
                @apply mr-0 mb-0 inline-block;
            }
        }
    }
}
