.person-tile {
    @apply overflow-hidden relative flex flex-row items-end;
    @apply transition-all transition-500 transition-ease-out-quart min-h-30;

    background-position: top center;
    filter: grayscale(100%) sepia(50%);
    /* transform: translate3d(0, 0, 0); */

    &:before {
        @apply absolute bottom-0 left-0 w-full h-full z-10 block;
        @apply transition-all transition-500 transition-ease-out-quart;
        content: '';
        background-blend-mode: multiply;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &:hover {
        filter: grayscale(0) sepia(0);

        &:before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &__title {
        @apply mb-0;

        font-size: 8vw;
    }

    &__title {
        @apply z-10 max-w-3/4;
    }

    &__link {
        @apply relative ml-auto z-20;
    }
}

@screen sm {
    .person-tile {
        &__title {
            font-size: 5vw;
        }
    }
}

@screen md {
    .person-tile {
        &__title {
            font-size: 4vw;
        }
    }
}

@screen lg {
    .person-tile {
        &__title {
            font-size: 3.25vw;
        }
    }
}

@screen xl {
    .person-tile {
        @apply w-1/4;

        &__title {
            font-size: 2.2vw;
        }
    }
}

/* Variations */

.person-tile {
    &--advert {
        @apply flex flex-row items-end bg-greeny-blue text-white;
        filter: none;

        &:hover {
            @apply bg-cool-blue;
        }

        &:before {
            display: none;
        }
    }
}