.page-header {
    @apply w-full py-16 px-6 bg-cover;

    a {
        @apply underline;

        &:hover {
            @apply no-underline;
        }
    }

    &__title {
        @apply text-4xl font-bold leading-none;
    }

    &__content {
        @apply text-2xl pt-6 pr-6 mb-16 leading-tight;
    }

    &__container {
        @apply max-w-3/4;
    }
}

@screen md {
    .page-header {
        &__title {
            @apply text-6xl;
        }
    }
}

@screen lg {
    .page-header {
        @apply py-20;

        &__title {
            @apply text-7xl;
        }

        &__content {
            @apply leading-none text-3xl pt-12;
        }
    }
}

@screen xl {
    .page-header {
        &__container {
            @apply max-w-1/2;
        }
    }
}

/* Variations. */

.page-header {
    &--news {
        @apply py-12 !important;
    }

    &--article {
        /* @apply py-20; */
        @apply relative;
        background-position: center top;

        &:before {
            @apply absolute bottom-0 left-0 w-full h-full z-10 block;
            content: '';
            background-blend-mode: multiply;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &__date {
            @apply mt-4;
        }

        .container {
            @apply relative z-20;
        }

        .page-header__title {
            + .link-icon {
                @apply mt-10;
            }
        }
    }

    &--no-overlay {
        &:before {
            @apply hidden;
        }
    }

    &--publications {
        .page-header__content {
            @apply mb-0;
        }
    }

    &--small {
        @apply py-8;
    }
}

@screen md {
    .page-header {
        &--article {
            /* @apply py-32; */

            /* &__date {
                @apply -mt-28;
            } */

            .page-header__title {
                + .link-icon {
                    @apply mt-20;
                }
            }
        }
    }
}

@screen lg {
    .page-header {
        &--article {
            /* @apply py-32; */

            /* &__date {
                @apply -mt-28;
            } */

            .page-header__title {
                @apply text-7xl;
            }

            /* .link-icon {
                .icon {
                    @apply text-5xl mt-0;
                }
            } */
        }

        &--news {
            .page-header__title {
                @apply mb-0;
            }
        }

        &--small {
            @apply py-16 !important;
        }
    }
}

@screen xl {
    .page-header {
        &--publications {
            .page-header__container {
                @apply flex max-w-full;
            }
            .page-header__content {
                @apply pt-6 pl-16;
            }
        }
    }
}